/* APP */
/******************************************/
body {
  background: #FFF;	
}

#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

#bodyview {
  min-height: 0;
}

/* DEF HEADER */
/******************************************/
#def_header {
  z-index: 100;
  position: relative;
  margin-top: 45px;
  width: 100%;
  height: 486px;
  overflow: hidden;
}

#def_header .background .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 486px;
  overflow: hidden;
}

#def_header .event_title {
  position: absolute;
  top: 24px;
  left: 32px;
  color: #44b6f7;
}

#def_header .btn {
  margin-top: 24px;
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 40px auto;
  width: 1112px;
}

.panel_content .panel_ambassadors {
  clear: both;
  padding-top: 30px;
}

.panel_content h1.tb {
  color: #979797;	
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

/* PROMO */
/******************************************/
.promo_content {
  width: 100%;
  background: #F0F0F0;
}

.promo_content .content {
  margin: 0px auto 0px auto;
  padding-top: 86px;
  padding-bottom: 80px;
  width: 900px;
}

.promo_content h1.tb {
  color: #979797;	
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

.image_container {
  opacity: 0;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }  
  .panel_content {
    width: 992px;
  }   
}

.image {
  display: none;  
}

img {
  max-width: none;
}
