/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
}

/* TOUR */
/******************************************/
.tour_content {
  position: relative;
  margin-top: 64px;
}

.tour_content .content {
  width: 1114px;
  padding-top: 64px;
  margin: 0px auto 54px auto;
  text-align: center;
  color: #979797;
}

.tour_content .desc {
  margin: 18px auto 0px auto;
  width: 572px;
}

.tour_content .panel {
  float: none;
}
 
/* STEPS */
/******************************************/
#steps img {
  width: 100%;
}

#steps h4.tb {
  margin-top: 24px;	
}

#steps .animate div {
  -webkit-transition: 0.5s ease-out; 
  -moz-transition: 0.5s ease-out; 
  -o-transition: 0.5s ease-out;	
}

#steps .image_container {
  opacity: 0;
}

#step1 {
  position: relative;
  margin-top: 82px;
  height: 496px;
  width: 100%;
}

#step1_left {
  position: absolute;
  padding-top: 42px;
  top: 0px;
  left: 80px;
  width: 410px;
  text-align: right;
}

#step1 .step1_left_init, #step1_left.outViewPort {
  left: -410px;
}

#step1_right {
  position: absolute;
  top: 0px;
  width: 532px;
  height: 496px;
  right: 0px;
}

#step1 .step1_right_init, #step1_right.outViewPort {
  right: -532px;
}

#step1_right img {
  float: right;	
}

#step2 {
  position: relative;
  margin-top: 42px;
  height: 600px;
  width: 100%;
}

#step2_left {
  position: absolute;
  top: 0px;
  left: 38px;
  width: 426px;
  height: 600px;
}

#step2_left.outViewPort {
  left: -426px;
}

#step2_right {
  position: absolute;
  padding-top: 70px;
  top: 0px;
  right: 140px;
  width: 400px;
  text-align: left;
}

#step2_right.outViewPort {
  right: -400px;
}

#step3 {
  position: relative;
  margin-top: 78px;
  height: 708px;
  width: 100%;
}

#step3_left {
  position: absolute;
  padding-top: 48px;
  top: 0px;
  left: 80px;
  width: 420px;
  text-align: right;
}

#step3_left.outViewPort {
  left: -420px;
}

#step3_right {
  position: absolute;
  top: 0px;
  width: 708px;
  height: 708px;
  right: 76px; 
}

#step3_right img {
  float: right;	
}

#step3_right.outViewPort {
  right: -708px;
}

#step4 {
  position: relative;
  margin-top: 112px;
  height: 528px;
  width: 100%;
}

#step4_left {
  position: absolute;
  top: 0px;
  left: 58px;
  width: 542px;
  height: 528px;
}

#step4_left.outViewPort {
  left: -542px;
}

#step4_right {
  position: absolute;
  padding-top: 36px;
  top: 0px;
  right: 120px;
  width: 400px;
  text-align: left;
}

#step4_right.outViewPort {
  right: -400px;
}

#step5 {
  position: relative;
  margin-top: 82px;
  height: 549px;
  width: 100%;
}

#step5_left {
  position: absolute;
  padding-top: 36px;
  top: 0px;
  left: 100px;
  width: 400px;
  text-align: right;
}

#step5_left.outViewPort {
  left: -410px;
}

#step5_right {
  position: absolute;
  top: 0px;
  width: 542px;
  height: 549px;
  right: 58px;
}

#step5_right img {
  float: right;	
}

#step5_right.outViewPort {
  right: -542px;
}

#step6 {
  position: relative;
  margin-top: 82px;
  height: 528px;
  width: 100%;
}

#step6_left {
  position: absolute;
  top: 0px;
  left: 58px;
  width: 542px;
  height: 549px;
}

#step6_left.outViewPort {
  left: -542px;
}

#step6_right {
  position: absolute;
  padding-top: 36px;
  top: 0px;
  right: 100px;
  width: 420px;
  text-align: left;
}

#step6_right.outViewPort {
  right: -420px;
}

#cta {
  margin-top: 80px;
  margin-bottom: 100px;
}

#cta .contact {
  margin-top: 28px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {
  #steps img {
    width: 87%;
  }	
  .tour_content .content {
    width: 968px;
  }
  #step1 {
    margin-top: 71px;
    height: 432px;
  }
  #step1_left {
    padding-top: 37px;
    width: 357px;
  }
  #step1 .step1_left_init, #step1_left.outViewPort {
    left: -357px;
  }
  #step1_right {
    width: 463px;
    height: 432px;
  }
  #step1 .step1_right_init, #step1_right.outViewPort {
    right: 463px;
  }
  #step2 {
    margin-top: 37px;
    height: 522px;
  }
  #step2_left {
    width: 371px;
    height: 522px;
  }
  #step2_left.outViewPort {
    left: -371px;
  }
  #step2_right {
    padding-top: 61px;
    width: 348px;
  }
  #step2_right.outViewPort {
    right: -348px;
  }
  #step3 {
    margin-top: 68px;
    height: 616px;
  }
  #step3_left {
    padding-top: 42px;
    width: 366px;
  }
  #step3_left.outViewPort {
    left: -366px;
  }
  #step3_right {
    width: 616px;
    height: 616px;
  }
  #step3_right.outViewPort {
    right: -616px;
  }
  #step4 {
    margin-top: 97px;
    height: 459px;
  }
  #step4_left {
    width: 472px;
    height: 459px;
  }
  #step4_left.outViewPort {
    left: -472px;
  }
  #step4_right {
    padding-top: 31px;
    width: 348px;
  }
  #step4_right.outViewPort {
    right: -348px;
  }
  #step5 {
    margin-top: 71px;
    height: 478px;
  }
  #step5_left {
    padding-top: 31px;
    width: 348px;
  }
  #step5_left.outViewPort {
    left: -348px;
  }
  #step5_right {
    width: 472px;
    height: 478px;
  }
  #step5_right.outViewPort {
    right: -472px;
  }
  #step6 {
    margin-top: 71px;
    height: 459px;
  }
  #step6_left {
    width: 472px;
    height: 478px;
  }
  #step6_left.outViewPort {
    left: -472px;
  }
  #step6_right {
    padding-top: 31px;
    width: 365px;
  }
  #step6_right.outViewPort {
    right: -365px;
  }
  #cta {
    margin-top: 70px;
    margin-bottom: 87px;
  }
  #cta .contact {
    margin-top: 24px;
  }  
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}

@media (min-width: 979px) {
  .tour_content {
    margin-top: 109px;
  }
}
