/* APP */
/******************************************/
body {
  background: #FFF;	
}

#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

#bodyview {
  min-height: 0;
}

/* DEF HEADER */
/******************************************/
#def_header {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 448px;
  overflow: hidden;
}

#def_header .background .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 448px;
  overflow: hidden;
}

#def_header .foreground {
  position: absolute;
  bottom: 0px;
  right: 104px;
}

#def_header .event_back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 268px;
  height: 489px;
  background: url("../img/campaign/landing_back.png") no-repeat top left;
}

#def_header .event_title {
  position: absolute;
  top: 36px;
  left: 44px;
  color: #44b6f7;
}

#def_header .btn {
  margin-top: 62px;
}

#def_header .sponsors {
  position: absolute;
  left: 44px;
  bottom: 22px;
}
 
#def_header .sponsors .partner {
  color: #FFF;
  text-shadow: 1px 1px #000000;  	
}

#def_header ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#def_header li {
  float: left;
  margin: 0px 24px 0px 0px;
  padding: 0px;
  line-height: 43px;
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 40px auto;
  width: 1112px;
}

.panel_content a, 
.panel_content a:link, 
.panel_content a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.panel_content a:hover, 
.panel_content a:active {
  color: inherit;
  text-decoration: underline;
  font-weight: 700;    
}

.panel_intro {
  clear: both;
  padding-top: 30px;
  text-align: center;
}

.panel_intro .panel {
  float: right;
  margin-top: 24px;  
  margin-right: 20px;
}

.panel_intro .desc {
  margin: 12px auto 0px auto;
  width: 782px;
  text-align: center;
}

.panel_intro .desc h3 {
  padding-top: 20px;
}

.panel_intro .desc h4 {
  padding-top: 24px;
}

.panel_intro .prizes {
  margin-top: 32px;
}

.panel_intro .prizes .image_container {
  float: left;
}

.panel_intro .left {
  float: left;
  margin-top: 48px;
  width: 372px;
}

.panel_intro .left img {
  margin: 16px;
}

.panel_intro .right {
  float: left;
  text-align: left;
  margin-top: 48px;
  margin-left: 32px;
  width: 396px;
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

/* GUIDE */
/******************************************/
.guide_content {
  width: 100%;
  background: #F0F0F0;
}

.guide_content .content {
  margin: 0px auto 0px auto;
  padding-top: 86px;
  padding-bottom: 80px;
  width: 900px;
}

.guide_content .content .title h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  line-height: 1em;
  color: #44B6F7;  
}

.guide_content .content h4 {
  padding-top: 0px;
}

.guide_content .content .left {
  float: left;
  margin-top: 48px;
  width: 372px;
}

.guide_content .content .right {
  float: left;
  margin-top: 48px;
  margin-left: 32px;
  width: 396px;
}

.guide_content .content .discover {
  margin-top: 32px;
}

.guide_content .content ol {
  margin: 10px 0 10px 25px;
}
.guide_content .content li {
	line-height: 1.3em;
}

/* FOOTER PROMOTE */
/******************************************/
.footer_promote {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 682px;
  overflow: overflow;  
}

.footer_promote .image_container {
  position: relative;
  opacity: 0;  
  width: 100%;
  height: 682px;
  overflow: hidden;
}

.footer_promote .promote_title {
  position: absolute;
  top: 122px;
  width: 100%;
  text-align: center;
}

.footer_promote .desc {
  margin-top: 18px;
  font-size: 22px;
  color: #FFF;
  text-shadow: 1px 1px #000000;  
}

.footer_promote .signin {
  margin-top: 18px;
}

.footer_promote .tb-credit {
  position: absolute;
  bottom: 12px;
  left: 30px;
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

/* TRAIL CARD PANEL */
/******************************************/
.trailcards .trail_card_panel {
  float: right;
}

.image_container {
  opacity: 0;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }  
  .panel_content {
    width: 992px;
  }   
}

.image {
  display: none;  
}

img {
  max-width: none;
}
