/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

/* DEF HEADER */
/******************************************/
#def_header {
  z-index: 100;
  position: relative;
  margin-top: 63px;
  width: 100%;
  height: 486px;
  overflow: hidden;
}

#def_header .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 486px;
  overflow: hidden;
}

#def_header .event_title {
  position: absolute;
  top: 23px;
  left: 32px;
  color: #44b6f7;
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 80px auto;
  width: 1112px;
}

.panel_intro {
  clear: both;
  padding-top: 30px;
  text-align: center;
}

.panel_intro .panel {
  float: right;
  margin-top: 24px;
  
  margin-right: 20px;
}

.panel_intro .desc {
  margin: 24px auto 0px auto;
  width: 900px;
  text-align: center;
}

.panel_intro .desc h3 {
  padding-top: 20px;
}

.panel_intro .desc h4 {
  padding-top: 24px;
}

.panel_intro .left {
  float: left;
  margin-top: 48px;
  width: 372px;
}

.panel_intro .left img {
	margin: 16px;
}

.panel_intro .right {
  float: left;
  text-align: left;
  margin-top: 48px;
  margin-left: 32px;
  width: 396px;
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

/* GUIDE */
/******************************************/
.guide_content {
  width: 100%;
  background: #FFF;
}

.guide_content .content {
  margin: 0px auto 0px auto;
  padding-top: 86px;
  padding-bottom: 80px;
  width: 900px;
}

.guide_content .content h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  line-height: 1em;
  color: #44B6F7;  
}

.guide_content .content h4 {
  padding-top: 0px;
}

.guide_content .content .left {
  float: left;
  margin-top: 48px;
  width: 372px;
}

.guide_content .content .left img {
/*	
  margin-left: 24px;
*/  
}

.guide_content .content .right {
  float: left;
  margin-top: 48px;
  margin-left: 32px;
  width: 396px;
}

.guide_content .content .discover {
  margin-top: 32px;
}

/* FOOTER PROMOTE */
/******************************************/
.footer_promote {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 682px;
  overflow: overflow;  
}

.footer_promote .image_container {
  position: relative;
  opacity: 0;  
  width: 100%;
  height: 682px;
  overflow: hidden;
}

.footer_promote .promote_title {
  position: absolute;
  top: 122px;
  width: 100%;
  text-align: center;
}

.footer_promote .desc {
  margin-top: 18px;
  font-size: 22px;
  color: #FFF;
  text-shadow: 1px 1px #000000;  
}

.footer_promote .signin {
  margin-top: 18px;
}

.footer_promote .tb-credit {
  position: absolute;
  bottom: 12px;
  left: 30px;
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

/* TRAIL CARD PANEL */
/******************************************/
.trail_card_sticker {
  float: right;
  margin: 0px 5px 0px 6px;
  width: 305px;
  height: 412px;
  background: url("../img/card_sticker_back.png") no-repeat top left;
  background-size: 100% 100%;  	
}

.trail_card_sticker .panel {
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top;
  width: 260px;
  margin: 13px 13px 13px 13px;
  line-height: 1em;
  color: #FFFFFF;
}  

.trail_card_sticker .panel .summary {  
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.trail_card_sticker .panel .summary strong {
  font-weight: 700;
}

.trail_card_sticker .panel .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.trail_card_panel .title {
  margin-left: 22px;
  height: 74px;
  color: #44B6F7;
}

.trail_card_panel .title h3 {
  line-height: 74px;
}

.trail_card_panel .photo {
  position: relative;
}

.trail_card_panel .photo .card_title {
  position: absolute;
  bottom: 14px;
  left: 14px;
  color: #FFFFFF;
}

.trail_card_panel .photo .card_title h1 {
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 5px 10px 5px 5px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1em;  
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.trail_card_panel .summary {  
  height: 73px;
  margin: 5px 0px 0px 14px;
  color: #44B6F7;
}

.trail_card_panel .summary .sponsor {
  float: left;
  height: 56px;
}

.trail_card_panel .summary .sponsor img {
  height: 100%;
}

.trail_card_panel .summary .avatar {
  float: left;
  width: 54px;
  margin-top: 5px;
}

.trail_card_panel .summary .avatar img {
  width: 100%;
}

.trail_card_panel .summary .detail {
  float: left;  
  margin-top: 14px;
  margin-left: 6px;
}

.trail_card_panel .summary .stars {
  margin-top: 6px;
}

.trail_card_panel .summary .stars div {
  width: 13px;
  height: 14px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }  
  .panel_content {
    width: 992px;
  }   
}

.image {
  display: none;  
}

img {
  max-width: none;
}
