/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
}

/* BIG SPONSOR BAR */
/******************************************/
#big_sponsor_bar {
  display: none;
  position: absolute;
  top: 45px;
  width: 100%;
  height: 119px;
  background-color: #202020;  
}

#big_sponsor_bar .sponsor_content {
  margin: 34px 22px 0px 40px;
  text-shadow: 1px 1px #000000;    
}

/* SMALL SPONSOR BAR */
/******************************************/
#small_sponsor_bar {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 43px;
  background-color: #202020;
}

html.no-touch #small_sponsor_bar {
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;    
  -webkit-transform:translate3d(0,0,0);
}

html.touch #small_sponsor_bar {
  display: none;
  top: 0px;
}

#small_sponsor_bar .sponsor_content {
  margin: 6px 22px 0px 40px;
}

/* SPONSOR CONTENT */
/******************************************/
.sponsor_content {	
  font-size: 14px;
  line-height: 1em;
  color: #FFFFFF;	
}

.sponsor_content a, 
.sponsor_content a:link, 
.sponsor_content a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.sponsor_content a:hover, 
.sponsor_content a:active {
  color: #979797;
  text-decoration: none;    
}

.sponsor_content .link {
  float: left;
  margin-top: 10px;
  text-transform: uppercase;
}

.sponsor_content .brand {
  float: right;
}

.sponsor_content .strap {
  float: left;  
  margin-top: 10px;
}

.sponsor_content .logo {
  float: left;
  margin-left: 10px;
}

.sponsor_content .inspire_logo {
  position: absolute;
  top: 32px;
  left: 50%;
  margin-left: -105px;
  width: 211px;
  height: 54px;  
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 80px auto;
  width: 1112px;
  margin-top: 0px;
}

.panels {
  clear: left;
  width: 100%;
}

/* EDITORIAL PANEL */
/******************************************/
.editorial_panel {
  border-top: 8px solid #FFA955;
}

.editorial_panel .header {
  margin: 52px 90px 34px 85px;
  color: #6D6E71;
}

.editorial_panel .header .title {
  float: left;
  width: 809px;
}

.editorial_panel .header .title h1.tb {
  color: #6D6E71;
}

.editorial_panel .header .tb-avatar {
  float: left;
}

.editorial_panel .hero {
  position: relative;
  margin: 0px 8px 0px 8px;
  width: 1096px;
}

.editorial_panel .hero .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 444px;  
  overflow: hidden;  
}

.editorial_panel .tb-credit {
  position: absolute;
  bottom: 12px;
  right: 30px;
}

.editorial_panel .content {
  margin-top: 30px;  
}

.editorial_panel .content .content_header {
  margin: 0px auto 0px auto;
  width: 948px;
  font-size: 22px;
  line-height: 38px;
  color: #979797;
}

.editorial_panel .content .content_header .date {
  font-size: 14px;	
}

.editorial_panel .content .content_header .header {
  float: left;  
  margin: 8px 0px 0px 0px;
  width: 272px;
}

.editorial_panel .content .content_header .line {
  float: left;
  width: 528px;
  margin-top: 27px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #C1C1C1;	
}

.editorial_panel .content .share_bar {
  float: right;
  margin-top: 8px;	
}

.editorial_panel .content .share_bar .share {
  float: right;
}

#column_wrapper_intro {
  clear: both;	
  margin: 0px auto 46px auto;
  width: 948px;
}

#column_wrapper_intro .first .columns {
  padding-left: 0px;
  padding-right: 20px;
}

#column_wrapper_intro .last .columns {
  padding-left: 20px;
  padding-right: 0px;
}

.sticker_container {
  float: left;
  width: 323px;
}

.card_column_wrapper {
	float: left;
	width: 646px;
}

.column_wrapper {
	visibility: hidden;
}

.column_wrapper .columns {
	clear: both;
	margin: 42px 0px 0px 0px;
}

.column_wrapper p { 
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 16px 0px;
}

.column_wrapper h4 {
	text-align: justify; 
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-weight: normal;
	color: #979797;
	line-height: 1.3em;
}

.first .columns {
  padding-left: 15px;
  padding-right: 25px;
}

.last .columns {
  padding-left: 25px;
  padding-right: 10px;
}

.align_right .first .columns {
  padding-left: 15px;
  padding-right: 20px;	
}

.align_right .last .columns {
  padding-left: 15px;
  padding-right: 25px;	
}

.align_right .sticker_container {
  width: 305px;
  margin-left: 18px;
}

.column div { 
  padding-right: 0px;
}

.column p { 
	text-align: justify;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5em;	 
}

#column_wrapper .columns .card_avatar {
  float: left;
  width: 48px;
  margin-right: 10px;
}

#column_wrapper .columns .card_avatar img {
  width: 100%;
}

#column_wrapper .columns .summary {
  text-align: left;  
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;   
  margin: 0px 0px 10px 0px;
}

.editorial_panel .content .section_header {
  clear: both;
  width: 948px;
  margin-left: 82px;
}

.editorial_panel .content .section_header .header {
	float: left;
	margin: 0px;
	font-size: 50px;
	line-height: 1em;
}

.editorial_panel .content .section_header .header h2 {
  margin: 0px;
  color: #6D6E71;
}

.editorial_panel .content .section_header .line {
	float: right;
	width: 512px;
	margin-top: 27px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #C1C1C1;
}

#trail_header .header {
	width: 436px;	
}

#trail_header .line {
	width: 512px;	
}

#region_header .header {
	width: 456px;	
}

#region_header .line {
	width: 492px;	
}

/* EDITORIAL REGION VIEW */
/******************************************/
#editorial_region_view {
  position: relative;
  margin: 40px 0px 80px 82px;
  width: 948px;
  height: 378px;
}

.single_region #editorial_region_view {
  margin-bottom: 26px;
}    

#editorial_map_view {
  width: 100%;
  height: 100%;
}

#editorial_map_view .map_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#editorial_map_view .leaflet-container {
  background: #8BD1E3;
}

#editorial_map_view #map_large {
  display: none;
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  background: #FFF;
  border-radius: 0px;
}

.leaflet-popup-content {  
  margin: 0px;
  padding: 0px;
  width: 460px;
  height: 235px;
}

/* VIEW CNTRLS */
/******************************************/
#view_map_btns {
  display: none;
  position: absolute;
  top: 18px;
  right: 16px;
}

#editorial_region_view .border_top {  
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;  
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

#editorial_region_view .border_left {
  position: absolute;
  top: 0px;
  width: 2px;
  height: 100%;  
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

/* EDITORIAL CARDS */
/******************************************/
.editorial_cards {
  margin-bottom: 46px;
}

.single_region .editorial_cards {
  margin-left: 36px;
  text-align: center;
}

.editorial_cards .panel {	
  position: relative;
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top;
  width: 260px;
  margin: 13px 13px 13px 13px;
  line-height: 1em;
  color: #FFFFFF;
}  

.editorial_cards .panel .summary {  
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.editorial_cards .panel .summary strong {
  font-weight: 700;
}

.editorial_cards .panel .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.editorial_card {
  clear: both;
  margin-left: 72px;
  width: 969px;  
}

.single_region .editorial_card {
  display: inline-block;
  clear: none;
  margin-left: 0px;
  width: auto;
}

/* TRAIL CARD PANEL */
/******************************************/
.trail_card_sticker {
  float: left;
  margin: 30px 0px 0px 0px;
}

/* VIDEO */
/******************************************/
.responsive-container {
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 0px; 
  height: 0; 
  overflow: hidden;
}

.responsive-container iframe { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  .panel_content {
    width: 968px;
  }
  .editorial_panel .header {
  	margin: 45px 78px 30px 74px;
  }  
  .editorial_panel .header .title {
    width: 704px;
  }
  .editorial_panel .header .avatar {
    width: 112px;
  }  
  .editorial_panel .hero {
	width: 952px;
  }
  .editorial_panel .hero .image_container {
  	height: 386px;
  }
  .editorial_panel .content {
    margin-top: 26px;
  }    
  .editorial_panel .content .content_header {
  	width: 826px;	
  }
  #column_wrapper_intro {
  	width: 826px;	
  	margin-left: 71px;
  }    
  .editorial_panel .content .section_header {
    width: 826px;
    margin-left: 71px;
  }
  .editorial_panel .content .content_header .header {
    width: 268px;
  }
  .editorial_panel .content .content_header .line {
	width: 410px;
  }
  #column_wrapper .columns {
	margin: 37px 0px 0px 0px;
  }    
  #column_wrapper .columns {
	margin: 37px 0px 0px 0px;
  }
  #column_wrapper .columns .card_avatar {
    width: 42px;
  }      
  .column p { 
	font-size: 14px;
  }  
  .editorial_panel .content .section_header .line {
	margin-top: 23px;
  }
  #trail_header .header {
	width: 379px;	
  }
  #trail_header .line {
	width: 445px;	
  }
  #region_header .header {
	width: 397px;	
  }
  #region_header .line {
	width: 428px;	
  }
  #editorial_region_view {
	margin: 40px 0px 80px 71px;
    width: 826px;
    height: 330px;
  }    
  .editorial_card {
    margin-left: 72px;
    width: 846px;  
  }  
  .card_column_wrapper {
	width: 550px;	
  }
  .sticker_container {
    width: 275px;
  }
  .align_right .sticker_container {
    width: 265px;
    margin-left: 18px;
  }  
  .trail_card_sticker {
    width: 265px;
    height: 358px;
  }  
  .single_region .editorial_cards {
    margin-left: 12px;
  }  
  .editorial_cards .panel {
    width: 224px;
    margin: 12px 10px 12px 10px;
  }  
  .editorial_cards .panel .image_container {
    height: 190px;
  }
  .editorial_cards .trail_card_panel .title {
    margin-left: 18px;
    height: 64px;
  }  
  .editorial_cards .trail_card_panel .title h3 {
    line-height: 64px;
  }
  .editorial_cards .trail_card_panel .summary {  
    height: 64px;
    margin: 0px 0px 0px 12px;
  }      
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}

@media (min-width: 992px) {
  #big_sponsor_bar {
    display: block;
  }	
  #small_sponsor_bar {
    display: block;
  }	
  .panel_content {
    margin-top: 145px;
  }
}

.image {
  display: none;  
}

img {
  max-width: none;
}
