/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
}

/* BIG SPONSOR BAR */
/******************************************/
#big_sponsor_bar {
  display: none;	
  position: absolute;
  top: 45px;
  width: 100%;
  height: 119px;
  background-color: #202020;
}

#big_sponsor_bar .sponsor_content {
  margin: 34px 22px 0px 40px;
  text-shadow: 1px 1px #000000;    
}

/* SMALL SPONSOR BAR */
/******************************************/
#small_sponsor_bar {
  display: none;	
  z-index: 199;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 43px;
  background-color: #202020;
}

html.no-touch #small_sponsor_bar {
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;    
  -webkit-transform:translate3d(0,0,0);
}

html.touch #small_sponsor_bar {
  display: none;
  top: 45px;
}

#small_sponsor_bar .sponsor_content {
  margin: 6px 22px 0px 40px;
}

/* SPONSOR CONTENT */
/******************************************/
.sponsor_content {	
  font-size: 14px;
  line-height: 1em;
  color: #FFFFFF;	
}

.sponsor_content a, 
.sponsor_content a:link, 
.sponsor_content a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.sponsor_content a:hover, 
.sponsor_content a:active {
  color: #979797;
  text-decoration: none;    
}

.sponsor_content .link {
  float: left;
  margin-top: 10px;
  text-transform: uppercase;
}

.sponsor_content .brand {
  float: right;
}

.sponsor_content .strap {
  float: left;  
  margin-top: 10px;
}

.sponsor_content .logo {
  float: left;
  margin-left: 10px;
}

.sponsor_content .inspire_logo {
  position: absolute;
  top: 32px;
  left: 50%;
  margin-left: -105px;
  width: 211px;
  height: 54px;  
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 80px auto;
  width: 1112px;
  margin-top: 0px;
}

.panels {
  clear: left;
  width: 100%;
}

/* EDITORIAL */
/******************************************/
.editorials_panel {
  border-top-style: solid;
  border-top-color: #FFA955;
  border-top-width: 8px;
}

.editorial {
  width: 937px;
  margin: 52px 90px 40px 85px;
}

.editorial .title {
  float: left;
  margin-top: 8px;
}

.editorial .title h2 {
  line-height: 1.1em;
  color: #6D6E71;
}

.editorial .tb-avatar {
  float: right;
}

.editorial .hero {
  clear: both;
  padding-top: 28px;
}

.editorial .hero .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 278px;  
  overflow: hidden;  
}

.editorial .details {
  margin-top: 28px;
  line-height: 1.1em;
}

.editorial .details .author {
  float: left;
}

.editorial .details .author h4 {
  margin-bottom: 4px;
}

.editorial .details .date {
  font-size: 14px;  	
  color: #979797;  
}

.editorial .details .more {
  float: right;
}

.editorial .content {
  clear: both;
  position: relative;
  margin: 0px;
  padding-top: 14px;
  width: 100%;	
}

.editorial .content .synopsis {
  float: left;
  width: 100%;	
}

.editorial .content .more {	
  float: right;
}

.editorial .content .more .btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.editorial .line {
  float: left;
  width: 100%;
  margin-top: 27px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #C1C1C1;
}

/* SUB EDITORIAL */
/******************************************/
.sub {
  margin-top: 0px;
}

.sub .tb-avatar {
  float: left;
}

.sub .title {
  margin-left: 22px;
}

.sub .hero {
  float: left;
  padding-top: 28px;
}

.sub .hero .image_container {
  width: 610px;
  height: 242px;  
}

.sub .description {
  float: left;
  margin-left: 46px;	
  width: 281px;
}

.sub .details .author {
  float: none;
}

.sub .content {
  clear: none;
}

.sub .content .synopsis {
  float: none;
  width: 100%;
}

.sub .share_bar {
  clear: both;
  margin-top: 8px;
}

.sub .share_bar .link {
  margin-left: 0px;
  margin-right: 6px;
}

.sub .share_bar .more {
  float: right;
  margin-top: 4px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  .panel_content {
    width: 968px;
  }
  .editorial {
    width: 816px;
    margin: 47px 78px 35px 74px;
  }
  .editorial .avatar {
    width: 112px;
  }
  .editorial .hero .image_container {
    height: 242px;  
  }  
  .sub .hero .image_container {
    width: 531px;
    height: 211px;  
  }
  .sub .description {
    margin-left: 40px;	
    width: 245px;
  } 
  .sub .content .synopsis {
    width: 100%;
  }  
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}

@media (min-width: 992px) {
  #big_sponsor_bar {
    display: block;
  }	
  #small_sponsor_bar {
    display: block;
  }	
  .panel_content {
    margin-top: 145px;
  }
}

.image {
  display: none;  
}

img {
  max-width: none;
}
