/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
}

#bodyview {
  position: absolute;
  top: 63px;
  min-height: 600px;
  width: 100%;
  height: 600px;
}

#mapview {
  position: relative;
  width: 100%; 
  height: 100%; 	
}

#cardsview {
  position: absolute;
  top: 0px;
  width: 290px;
  height: 100%;	
  overflow: scroll;
}

#trailCards {
  position: absolute;
  top: 0px;
}

#cardsview .panel {
  position: relative;
  overflow: inherit;
}

#cardsview .trail_card_panel .link:hover {
  cursor: pointer;  
}

#cardsview .panel.selected .select_top {
  position: absolute;
  top: -5px;
  left: 240px;
  width: 25px;
  height: 25px;
  background: url("../img/select_top.png") no-repeat top left;
}

#cardsview .panel.selected .select_bottom {
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  background: url("../img/select_bottom.png") no-repeat top left;
}

#cardsview .summary {
  position: relative;
}

#cardsview .summary .location {
  position: absolute;
  top: 12px;
  right: 14px;
  width: 36px;
  height: 47px;
  background: url(../icons/location.png) no-repeat top left;
}

#cardsview .summary .location:hover {
  cursor: pointer;
}

#map {
  width: 100%; 
  height: 400px; 	
}

#container {
  width: 440px;
}

.leaflet-popup-content-wrapper {
  background: none;
  box-shadow: none;
}

.leaflet-popup-content {
  margin: 0px 0px 10px 0px;
  padding: 0px;	
}

.leaflet-popup-tip-container {
  display: none;
}

/* VIEW CNTRLS */
/******************************************/
#view_map_btns {
  display: none;
  position: absolute;
  top: 34px;
  right: 85px;
}

html.touch #view_map_btns {
  top: 26px;
}

#view_btns {
  position: absolute;
  top: 22px;
  right: 22px;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #cardsview .panel.selected .select_top {
    left: 204px;
  }
}
