/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

/* CONTENT */
/******************************************/
#contentview {
  position: relative;
  margin-top: 63px;    
}

/* TRAIL MAP */
/******************************************/
#trail_map_view {
  width: 100%; 
}

#trail_map_view.map_large {
  position: absolute;
  top: 0px;
  height: 100%;
}

#trail_map_view.map_small {
  position: relative;
  height: 480px;
}

#view_map_btns {
  display: none;
  position: absolute;
  top: 34px;
  right: 22px;
}

#trail_map_overlay {
  display: none;
  position: absolute;
  top: 0px;  
  width: 100%; 
  height: 100%;  
  opacity: 0.7;
  background: #000000;  
}

#trail_info {
  position: absolute;
  top: -300px;
/*    
  display: none;
  top: 24px;
*/  
  left: 24px;
}

#trail_info .event_name {
  visibility: hidden;
}

#trail_info .trail_name {
  visibility: hidden;
}

/* OVERLAY */
/******************************************/
#overlay_view {
  display: none;
  z-index: 102;
  position: absolute;
  top: 0px;
  width: 100%; 
  height: 100%;  
}

#overlay_view .panel_content {
  position: relative;
  padding-top: 216px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#overlay_view .panel {
  float: none;
}

#overlay_view .panel .content {
  height: 288px;
  margin: 54px 0px 0px 0px;
}

#overlay_view .step_marker_container {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
}

#overlay_view .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#overlay_view h4 {
  margin-top: 24px;
}

#overlay_view .progress_container {
  margin: 20px auto 0px auto;
  width: 328px;
  height: 16px;  
}

#overlay_view .ui-progressbar {
  height: 16px;
  background: #F0F0F0;
  border-radius: 8px;
}

#overlay_view .ui-progressbar-value {
  background: #f83d3d;
}

/* STEPS */
/******************************************/
#steps {
  z-index: 100;
  position: relative;
}

/* STEP WELCOME */
/******************************************/
#step_welcome_view {
  display: none;
  width: 100%; 
  height: 100%;
}

#step_welcome_view .panel_content {
  position: relative;
  padding-top: 56px;
  margin: 0px auto 92px auto;
  width: 1112px;
  text-align: center;
}

#step_welcome_view .desc {
  margin: 24px auto 0px auto;
  width: 700px;
  text-align: center;
}

#step_welcome_view .steps {
  width: 100%;
  margin-top: 40px;
  text-align: center;  
}

#step_welcome_view .steps .step {
  vertical-align: top;
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  width: 240px;
}

#step_welcome_view .steps .step .step_marker {
  margin-bottom: 30px;
}

#step_welcome_view .next_step {
  margin-top: 42px;
}

/* STEP DETAIL */
/******************************************/
#step_detail_view {
  display: none;
  width: 100%; 
  height: 100%;
}

#step_detail_view .panel_content {
  position: relative;
  padding-top: 70px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#step_detail_view .panel {
  float: none;
}

#step_detail_view .panel .content {
  margin: 54px 0px 24px 0px;
}

#step_detail_view .step_marker_container {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
}

#step_detail_view .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#step_detail_view form {
  display: block;  
  padding-top: 18px;
}

#step_detail_view .form-group {
  width: 324px;
  margin: 14px auto 0px auto;  
  text-align: left;
}

#step_detail_view .form-group label {
}

#step_detail_view input {
  display: block;  
  width: 324px;
  height: 32px;
  line-height: 32px;
  background: #F0F0F0;  
  color: #979797;
  font-size: 22px;
}

#step_detail_view textarea {
  display: block;  
  resize: none;
  width: 324px;
  height: 176px;
  background: #F0F0F0;
  color: #979797;
  font-size: 22px;
}

#step_detail_view .next_step {
  margin-top: 24px;
}

/* STEP ROUTE */
/******************************************/
#step_route_view {
  display: none;
}

#step_route_view .panel_content {
  position: relative;
  padding-top: 216px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#step_route_view .panel {
  float: none;
}

#step_route_view .panel .content {
  height: 288px;
  margin: 54px 0px 0px 0px;
}

#step_route_view .step_marker_container {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
}

#step_route_view .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#step_route_view #uploadGPX_view .btn {
  margin-top: 24px;  
}

#step_route_view #uploadGPXprogress_view {
  display: none;
}

#step_route_view #uploadGPXprogress_view h4 {
  margin-top: 24px;
}

#step_route_view #uploadGPXprogress_view .progress_container {
  margin: 20px auto 0px auto;
  width: 328px;
  height: 16px;  
}

#step_route_view #uploadGPXprogress_view .ui-progressbar {
  height: 16px;
  background: #F0F0F0;
  border-radius: 8px;
}

#step_route_view #uploadGPXprogress_view .ui-progressbar-value {
  background: #f83d3d;
}

/* STEP ROUTE EDIT */
/******************************************/
#step_route_edit_view {
  display: none;
  background: #FFF;
  height: 1571px;
}

#step_route_edit_view .gallery_panel {
  width: 100%;
  height: 216px;
  background: #FFF;
}

#step_route_edit_view .detail_panel {
  width: 100%;
  background: #F2F2F2;
}

#step_route_edit_view .detail_panel .content {
  padding-top: 24px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#step_route_edit_view .detail_panel .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#step_route_edit_view .detail_panel form {
  display: block;  
  padding-top: 18px;
}

#step_route_edit_view .detail_panel .form-group {
  width: 324px;
  margin: 14px auto 0px auto;  
  text-align: left;
}

#step_route_edit_view .detail_panel .form-group label {
}

#step_route_edit_view .detail_panel input {
  display: block;  
  width: 324px;
  height: 32px;
  line-height: 32px;
  background: #FFF;  
  color: #979797;
  font-size: 22px;
}

#step_route_edit_view .detail_panel textarea {
  display: block;  
  resize: none;
  width: 324px;
  height: 176px;
  background: #FFF;
  color: #979797;
  font-size: 22px;
}

#step_route_edit_view .detail_panel .update {
	padding-top: 12px;
}

#step_route_edit_view .slideshow_container {
  padding-top: 20px;
  width: 100%;
  height: 166px;
  overflow: hidden;  
}

#step_route_edit_view .slideshow {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 203px;
}

#step_route_edit_view .slideshow .slide {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 203px;
  height: 154px;
  overflow: hidden;  
}

#step_route_edit_view .slideshow .photo {
  margin-left: 6px;
  width: 191px;
  height: 154px;
  overflow: hidden;  
  background: url("../img/gallery/photo_back.png") no-repeat top left;
  background-size: 100% 100%;  	  
}

#step_route_edit_view .slideshow .active {
  background: url("../img/gallery/photo_back_focus.png") no-repeat top left;
}

#step_route_edit_view .slideshow .photo .image_container {
  position: relative;
  opacity: 0;
  margin: 19px 0px 0px 14px;
  width: 168px;
  height: 126px;
}

#step_route_edit_view .slideshow .photo img {
  width: 100%;
}

#uploadPhoto_view {
  position: absolute;
  top: -62px;
  right: 24px;	
}

#step_route_edit_view .trailcard_panel {
  width: 100%;
}

#step_route_edit_view .trailcard_panel .content {
  margin: 0px auto 0px auto;
  padding-top: 64px;
  padding-bottom: 80px;
  width: 900px;
}

#step_route_edit_view .trailcard_panel .content h4 {
  padding-top: 0px;
}

#step_route_edit_view .trailcard_panel .content .left {
  float: left;
  width: 372px;
}

#step_route_edit_view .trailcard_panel .content .right {
  float: left;
  margin-left: 32px;
  width: 396px;
}

#step_route_edit_view .trailcard_panel .content .right h3 {
  line-height: 1.3em;
}

#step_route_edit_view .trailcard_panel .content .right h4 {
  margin-top: 24px;
}

#step_route_edit_view .trailcard_panel .content .publish {
  margin-top: 32px;
}

/* STEP PUBLISHED */
/******************************************/
#step_published_view {
  display: none;
}

#step_published_view .panel_content {
  position: relative;
  padding-top: 216px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#step_published_view .panel {
  float: none;
}

#step_published_view .panel .content {
  height: 364px;
  margin: 54px 0px 0px 0px;
}

#step_published_view .step_marker_container {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
}

#step_published_view .desc {
  margin: 24px auto 0px auto;
  width: 486px;
  text-align: center;
}

#step_published_view .next_step {
  margin-top: 24px;
}

/* OVERLAY */
/******************************************/
#content_overlay {
  display: none;
  z-index: 101;
  position: absolute;
  top: 0px;  
  width: 100%; 
  height: 100%;  
  opacity: 0.7;
  background: #000000;  
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

/* TRAIL CARD PANEL */
/******************************************/
.trail_card_sticker {
  float: right;
  margin: 0px 5px 0px 6px;
  width: 305px;
  height: 412px;
  background: url("../img/card_sticker_back.png") no-repeat top left;
  background-size: 100% 100%;  	
}

.trail_card_sticker .panel {
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top;
  width: 260px;
  margin: 13px 13px 13px 13px;
  line-height: 1em;
  color: #FFFFFF;
}  

.trail_card_sticker .panel .summary {  
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.trail_card_sticker .panel .summary strong {
  font-weight: 700;
}

.trail_card_sticker .panel .image_container {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.trail_card_panel .title {
  margin-left: 22px;
  height: 74px;
  color: #44B6F7;
}

.trail_card_panel .title h3 {
  line-height: 74px;
}

.trail_card_panel .photo {
  position: relative;
}

.trail_card_panel .photo .card_title {
  position: absolute;
  bottom: 14px;
  left: 14px;
  color: #FFFFFF;
}

.trail_card_panel .photo .card_title h1 {
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 5px 10px 5px 5px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1em;  
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.trail_card_panel .summary {  
  height: 73px;
  margin: 5px 0px 0px 14px;
  color: #44B6F7;
}

.trail_card_panel .summary .sponsor {
  float: left;
  height: 56px;
}

.trail_card_panel .summary .sponsor img {
  height: 100%;
}

.trail_card_panel .summary .avatar {
  float: left;
  width: 54px;
  margin-top: 5px;
}

.trail_card_panel .summary .avatar img {
  width: 100%;
}

.trail_card_panel .summary .detail {
  float: left;  
  margin-top: 14px;
  margin-left: 6px;
}

.trail_card_panel .summary .stars {
  margin-top: 6px;
}

.trail_card_panel .summary .stars div {
  width: 13px;
  height: 14px;
}

/* GENERAL */
/******************************************/
.step_marker {
  margin: 0px auto 0px auto;
  width: 73px;
  height: 73px;
  line-height: 73px;
  font-size: 28px;
  color: #FFF;
  background: url("../img/steps/step.png") no-repeat top left;
}

.step_marker_gps {
  background: url("../img/steps/step_gps.png") no-repeat top left;	
}

.step_marker_photo {
  background: url("../img/steps/step_photo.png") no-repeat top left;	
}

.step_marker_publish {
  background: url("../img/steps/step_publish.png") no-repeat top left;	
}

#trail_map {
  width: 100%; 
  height: 100%;
}

.leaflet-popup-content {
  margin: 0px;
  padding: 0px;	
  width: 500px;
  height: 220px;
}

.leaflet-container a.leaflet-popup-close-button {
  font-size: 20px;
  color: #44B6F7;
}

.trail_media_popup {
  margin: 8px;
  padding: 0px;	   
  text-align: center;  
}

.trail_media_popup .btns {
  position: absolute;
  bottom: 32px;
}

.trail_media_popup a.button {
  float:left; 
  display:block;
  line-height:24px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:24px;
  height:24px;
}

.trail_media_popup a.button:hover {
  background-position: 0 -24px;
}

.trail_media_popup .btnDeleteMarker {
  background: url("../img/editor/btn_delete.png") no-repeat top left;
}

.trail_media_popup .image_container {
  float: left;
  position: relative;
  opacity: 0;  
  width: 254px;
  height: 212px;
}

.trail_media_popup .image_container img {
  width: 100%;
}
  
.trail_media_popup .detail_container {
  float: left;
  margin: 48px 0px 0px 24px;
  text-align: left;
}

.trail_media_popup .form-group {
  margin-top: 12px;
}

.trail_media_popup input {
  display: block;  
  margin: 0px auto 0px auto;
  width: 184px;
  height: 32px;
  line-height: 32px;
  background: #F0F0F0;  
  color: #979797;
  font-size: 22px;
}

.trail_media_popup .btn {
  margin-top: 12px;
  margin-bottom: 12px;
}

.leaflet-popup-content-wrapper{
  background: #FFF;
}

.leaflet-popup-tip{
  background: #FFF;
}
    
/* BOOTSTRAP */
/******************************************/
.dropdown a {
  text-decoration: none;
  color: inherit; 
}
.dropdown a:hover,
.dropdown a:active {
  text-decoration: none;   
  color: inherit; 
}

.btn-info {
  line-height: 32px;
  font-size: 22px;	
  color: #979797;
  text-shadow: none;
  background-image: none;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;  
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #979797;
  background-color: #fff;
}

.btn-info .caret {
  margin-top: 15px;	
  border-top-color: #979797;
  border-bottom-color: #979797;	
}
    
/* TOUCH */
/******************************************/
#view_map_btns .touch_btn {  
  margin: 0px 4px 0px 4px;
}
    
/* Mapbox */
.leaflet-control.mapbox-control-info {
  visibility: hidden;
}
    
/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }
  #step_welcome_view .panel_content {
    width: 968px;
  }
}

.image {
  display: none;  
}

img {
  max-width: none;
}
