/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
}

/* TRAILS */
/******************************************/
.trails_content {
  margin-top: 45px;
  position: relative;
}

.trails_content .content {
  width: 1140px;
  padding-top: 44px;
  margin: 0px auto 54px auto;
  text-align: center;	
}

.trails_content .desc {
  margin: 24px auto 0px auto;
  text-align: center;
}

.trails_content .panels {
  padding-top: 26px;
  margin-bottom: 24px;
}

.trails_content .nav {
  height: 88px;
}

.trails_content .more_btn {
  display: none;
}

.tb-loader {
  top: 0px;
  margin-top: 0px;
}

/* VIEW CNTRLS */
/******************************************/
#view_btns {
  position: absolute;
  top: 22px;
  right: 22px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {
  .trails_content .content {
    width: 992px;
  }  
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}
