api/config/*.yaml
api/info.php
api/tmp/*
api/vendor/*
api/composer.phar
api/composer.lock
api/composer-dev.lock
api/tests/_log/*
api/doc/sami
api/doc/cache
*.swp
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/api/cache/*
/app/logs/*
/app/frontend/cache/*
/app/api/logs/*
/app/frontend/logs/*
/vendor/
/app/config/parameters.yml
/app/config/common_parameters.yml
*tm_properties 
/tools/*.sql
.tm_properties
composer.phar
.DS_Store