/* TB DEFAULTS */
/******************************************/
body {  
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3em;
  color: #444444;    
}

form {
  margin: 0px;
  padding: 0px;
  display: inline;  
}

a {
  text-decoration: underline;
  color: inherit; 
}
a:hover,
a:active {
  text-decoration: none;   
  color: inherit; 
}

/* TB BUTTONS */
/******************************************/

a.btn {
  text-decoration: none;     
}

/* TB BUTTONS */
/******************************************/
.btn-tb {
  font-family: 'Signika', sans-serif;
  padding: 4px 10px;
  font-size: 18px;  
  color: #FFFFFF !important;;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2B99E3 !important;;
  background-image: -moz-linear-gradient(top, #44b6f7, #2B99E3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44b6f7), to(#2B99E3));
  background-image: -webkit-linear-gradient(top, #44b6f7, #2B99E3);
  background-image: -o-linear-gradient(top, #44b6f7, #2B99E3);
  background-image: linear-gradient(to bottom, #44b6f7, #2B99E3);
  background-repeat: repeat-x;
  border-color: #2B99E3;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b6f7', endColorstr='#2B99E3', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-tb:hover,
.btn-tb:active,
.btn-tb.active,
.btn-tb.disabled,
.btn-tb[disabled] {
  background-color: #2B99E3;
}

.btn-tb-action {
  font-family: 'Signika', sans-serif;  
  padding: 4px 10px;
  font-size: 18px;  
  color: #FFFFFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ED1C24 !important;
  background-image: -moz-linear-gradient(top, #ff514c, #ED1C24);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff514c), to(#ED1C24));
  background-image: -webkit-linear-gradient(top, #ff514c, #ED1C24);
  background-image: -o-linear-gradient(top, #ff514c, #ED1C24);
  background-image: linear-gradient(to bottom, #ff514c, #ED1C24);
  background-repeat: repeat-x;
  border-color: #ED1C24;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff514c', endColorstr='#ED1C24', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-tb-action:hover,
.btn-tb-action:active,
.btn-tb-action.active,
.btn-tb-action.disabled,
.btn-tb-action[disabled] {
  background-color: #ED1C24;
}

.btn-tb-large {
  padding: 8px 15px;
  font-size: 22px;  
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
}

.btn-tb-mega {
  padding: 11px 15px;
  font-size: 26px;  
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;  
}

/* TB TITLES */
/******************************************/
h1.tb {
  display: inline-block;
  margin: 16px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-size: 70px;
  line-height: 1em;
  color: #44B6F7;  
  background-color: #FFF;
  border: none;
  *zoom: 1;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);    
}

h2.tb {
  display: inline-block;
  margin: 16px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-size: 50px;
  line-height: 1em;
  color: #44B6F7;  
  background-color: #FFF;
  border: none;
  *zoom: 1;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);    
}

h3.tb {
  margin: 0px;
  padding: 0px;
  font-size: 42px;
  font-weight: 400;
  line-height: 1em;
  color: #44B6F7;
}

h4.tb {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3em;
  color: #979797;
}

/* TB PANELS */
/******************************************/
.panel {
  float: left;  
  overflow: hidden;
  background-color: #FFF;
  border: none;
  *zoom: 1;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);  
}

/* HEADER */
/******************************************/
#headerview {
  z-index: 200;
  position: relative;
  width: 100%;
  height: 63px;  
  background: #FFF;
}

#headerview .left {
  float: left;
  margin: 8px 0px 0px 40px;
}

#headerview .right {
  float: right;
  margin: 12px 22px 0px 0px;
}

#headerview .right .discover {
  float: right;
  margin: 5px 0px 0px 0px;
}

#headerview .right .discover .search-btn {
  margin: 0;
  padding: 0;  
  width: 18px;
  height: 18px;
  border: none;
  font-size: 0;
  background: url("../img/header/search.gif") no-repeat top left;  
}

#headerview .right .discover input[type="text"] {
  margin: 0px 6px 0px 0px;
  background-color: #F0F0F0;
}

#headerview .right .links {
  float: right;
  margin-top: 14px;
  line-height: 1em;
}

#headerview .right .link {
  float: left;
  margin: 0px 19px 0px 19px;
  color: #44b6f7;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#headerview .right .link a, 
#headerview .right .link a:link, 
#headerview .right .link a:visited {
  color: #44b6f7;
  text-decoration: none;
}

#headerview .right .link a:hover, 
#headerview .right .link a:active {
  color: #979797;
  text-decoration: none;    
}

#headerview .right .signin {  
  float: right;
  margin-left: 19px;
}

#headerview .right .signin .btn {  
}

/* FOOTER */
/******************************************/
#footerview {
  z-index: 200;
  position: relative;
  width: 100%;
  height: 120px;  
  background: #000;
}

#footerview .left {
  float: left;
  margin: 30px 0px 0px 40px;
}

#footerview .left .copyright {
  font-size: 14px;
  line-height: 1em;
  color: #979797;
}

#footerview .left .links {
  margin-top: 22px;
}

#footerview .left .link {
  float: left;
  margin-right: 34px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;  
  color: #979797;
  text-transform: uppercase;
}

#footerview .left .link a, 
#footerview .left .link a:link, 
#footerview .left .link a:visited {
  color: #979797;
  text-decoration: none;
}

#footerview .left .link a:hover, 
#footerview .left .link a:active {
  color: #FFFFFF;
  text-decoration: none;    
}

#footerview .right {
  float: right;
  margin: 32px 48px 0px 0px;
}

#footerview .right .social {
  float: left;
  margin: 0px 10px 0px 10px;
}

#footerview a.button {
  float:left; 
  display:block;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:72px;
  height:64px;
}

#footerview a.button:hover {
  background-position: 0 -64px;
}

#footerview .btnEmail {
  background: url("../img/footer/btn_email.png") no-repeat top left;
}

#footerview .btnFacebook {
  background: url("../img/footer/btn_facebook.png") no-repeat top left;
}

#footerview .btnTwitter {
  background: url("../img/footer/btn_twitter.png") no-repeat top left;
}

#footerview .btnGooglePlus {
  background: url("../img/footer/btn_googleplus.png") no-repeat top left;
}

/* TB BIG BAR */
/******************************************/
#bigbar {
  width: 100%;
  padding-top: 18px;  
  font-size: 14px;
  line-height: 20px;
  color: #979797;
  text-transform: uppercase;
}

#bigbar .crumbs {
  float: left;
  margin-top: 12px;  
}

#bigbar .crumbs a, 
#bigbar .crumbs a:link, 
#bigbar .crumbs a:visited {
  color: #979797;
  text-decoration: none;
}

#bigbar .crumbs a:hover, 
#bigbar .crumbs a:active {
  color: #606060;
  text-decoration: none;    
}

#bigbar .crumb_lead {
  float: left;
  width: 16px;
  height: 20px;
}

#bigbar .crumb_lead a {
  float:left; 
  display:block;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:16px;
  height:20px;
  background: url("../icons/crumb_lead.png") no-repeat top left;
}

#bigbar .crumb_lead a:hover {
  background-position: 0 -20px;
}

#bigbar .crumb_links {
  float: left;
  margin: 1px 0px 0px 16px;
}

#bigbar .share {
  float: right;
}

.share .link {
  float: left;
  margin-left: 6px;
}

.share a.button {
  float:left; 
  display:block;
  line-height:36px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:38px;
  height:38px;
}

.share a.button:hover {
  background-position: 0 -38px;
}

.share .btnFacebook {
  background: url("../icons/share/share_facebook_red.png") no-repeat top left;
}

.share .btnTwitter {
  background: url("../icons/share/share_twitter_red.png") no-repeat top left;
}

.share .btnGooglePlus {
  background: url("../icons/share/share_googleplus_red.png") no-repeat top left;
}

/* TB CANDY */
/******************************************/
.tb-photo-btn img {  
  filter: contrast(1);
  -webkit-filter: contrast(1);
  -moz-filter: contrast(1);
  -o-filter: contrast(1);
  -ms-filter: contrast(1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform:translate3d(0,0,0);
}

.tb-photo-btn:hover img {  
  filter: contrast(1.5);
  -webkit-filter: contrast(1.5);
  -moz-filter: contrast(1.5);
  -o-filter: contrast(1.5);
  -ms-filter: contrast(1.5);   
}

.tb-fade {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.tb-move {
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;    
  -webkit-transform:translate3d(0,0,0);              
}

.tb-size {
  -webkit-transition: height 1s, width 1s;
  -moz-transition: height 1s, width 1s;
  -o-transition: height 1s, width 1s;
  transition: height 1s, width 1s;    
  -webkit-transform:translate3d(0,0,0);
}

.star {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/star.png) no-repeat top left;    
}

.star_full {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/star_full.png) no-repeat top left;    
}

.star_half {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/star_half.png) no-repeat top left;    
}

.line_break {
  width: 100%;
  height: 2px;
  background: url(../img/trans_line.png) repeat-x top left;  
}

.trans-line {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;
  background: url(../img/trans_line.png) repeat-x top left;  
}
