/* TB DEFAULTS */
/******************************************/
@font-face {
  font-family: 'StrangeloveText';
  src: url('fonts/StrangeloveText.eot?#iefix') format('embedded-opentype'),  url('fonts/StrangeloveText.woff') format('woff'), url('fonts/StrangeloveText.ttf')  format('truetype'), url('fonts/StrangeloveText.svg#StrangeloveText') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4em;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1.tb {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 70px;
  line-height: 1.2em;
  color: #FFF;
}

h2.tb {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.2em;
  color: #FFF;
}

body.fs {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
}

.nopadding {
  padding: 5px;
}
.title .nopadding {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

.row {
  margin: 5px;
}
.row.title {
  margin: 0;
}

.scale-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* COVER */
/******************************************/
.cover .logo {
  position: absolute;
  top: 0px;
  margin: 14px 0px 0px 16px;
  height: 17px;
  line-height: 17px;
}

.cover .logo a {
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
  text-indent: -10000px;
  overflow: hidden;
  text-decoration: none;
  width: 132px;
  height: 17px;
  background: url("../images/tb_logo.png") no-repeat top left;
}

.cover .image:before {
  content: " ";
  display: block;
  height: 351px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
}

.cover .image:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.cover .overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}

.cover .titles {
  text-align: left;
  color: #fff;
  width: 100%;
  padding: 0 10px 0 10px;
  margin: 0px auto 0px auto;
}

.trail_avatar {
  width: 100%;
  padding: 0 10px 0 10px;
  margin: 0px auto 0px auto;
}

.author {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 66px;
  font-family: 'Signika', sans-serif;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 300;
}

.tb-avatar {
  margin-top: 20px;
  float: left;
  width: 48px;
  height: 48px;
  box-shadow: 1px 1px 1px #888888;
  background: #FFF;
  border-radius: 50%;
  overflow: hidden;
}

.tb-avatar-feature {
  width: 66px;
  height: 66px;
}

.tb-avatar .photo {
  margin: 4%;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  overflow: hidden; 
}

.tb-avatar .photo img {
  width: 100%;
}

/* FS ASSET */
/******************************************/
#fs-asset-view-container {
  display: none;
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  background-color: #000;
}

#fs-asset-view {
  width: 100%;
  height: 100%;
}

#fs-asset-view .type {
  position: absolute;
  bottom: 10px;
  right: 12px;
  color: #FFF;
  font-size: 2em;
}

/* ASSETS */
/******************************************/
#assets-view {
}

.assets-view {
  margin: 0px 5px 0 5px;
}

.assets-view .type {
  position: absolute;
  bottom: 10px;
  right: 12px;
  color: #FFF;
  font-size: 2em;
}

/* MAP */
/******************************************/
.map-view {
  position: relative;
  height: 486px;
  margin-bottom: 20px;
}

#mapbox-view {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mapbox-asset-view {
  position: absolute;
  top: 6px;
  left: 6px;
  margin: 0;
  width: 30%;
  height: 30%;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.tb-map-distance-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;  
  overflow: hidden;  
}

.tb-map-distance-marker .counter {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;

}
.tb-map-media-marker .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;  
  overflow: hidden;  
}

.tb-map-media-marker.large .icon {
  width: 100px;
  height: 100px;
}

.tb-map-media-marker.focus .icon {
  background: #ed1c24;  
}

.tb-map-media-marker img { 
  vertical-align: top;
  width: 100%;
}

.tb-map-media-marker .avatar {
  width: 60px;
  height: 60px;
  margin: 8%;
  width: 84%;
  height: 84%;
  border-radius: 50%;
  overflow: hidden;
}

.tb-map-media-marker.large .avatar {
  width: 100px;
  height: 100px;
  margin: 4%;
  width: 92%;
  height: 92%;
}

.tb-map-media-marker .pointer {
  position: absolute;
  bottom: 1px;
  left: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #FFFFFF transparent transparent transparent;
}

.tb-map-media-marker.large .pointer {
  left: 45px;
}

.tb-map-media-marker.focus .pointer {
  border-color: #ed1c24 transparent transparent transparent;
}

.tb-map-cluster { 
  z-index: 999 !important;
}

.tb-map-cluster img { 
  vertical-align: top;
  width: 100%;
}

.tb-map-cluster .avatar {
  width: 60px;
  height: 60px;
  margin: 8%;
  width: 84%;
  height: 84%;  
  border-radius: 50%;
  overflow: hidden;
}

.tb-map-cluster .cluster-counter {
  position: absolute;
  top: -6px;
  left: 36px;
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 1px #888888;
  background: #ed1c24;
  border-radius: 50%;
  overflow: hidden;   
}

.tb-map-cluster .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;
  overflow: hidden;
}

.tb-map-cluster.selected .cluster-counter, .tb-map-cluster.focus .cluster-counter {
  background: #ed1c24;
}

.tb-map-cluster.selected .icon, .tb-map-cluster.focus .icon {
  background: #ed1c24;
}

.tb-map-cluster .counter {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700; 
  color: #FFFFFF;
  overflow: hidden;
}

.tb-map-cluster.selected .counter, .tb-map-cluster.focus .counter {
  color: #FFFFFF;
}

.tb-map-cluster.small .cluster-counter {
  width: 20px;
  height: 20px;
}

.tb-map-cluster.small .counter {
  margin: 10%;
  width: 80%;
  height: 80%;
  line-height: 16px;
}

.tb-map-cluster.medium .cluster-counter {
  width: 30px;
  height: 30px;
}

.tb-map-cluster.medium .counter {
  margin: 8%;
  width: 84%;
  height: 84%;
  line-height: 26px;
}

.tb-map-cluster.large .cluster-counter {
  width: 34px;
  height: 34px;
}

.tb-map-cluster.large .counter {
  margin: 7%;
  width: 86%;
  height: 86%;
  line-height: 30px;
}

/* ASSET */
/******************************************/
.asset-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.asset-container:hover {
  cursor: pointer;
}

/* IMAGE/TEXT */
/******************************************/
.lazy {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.image.portrait {
  background-size: auto 100%;
}
.image.fix {
  position: absolute;
  top: 0;
}

.text {
  padding: 20px 5px 40px 5px;
  font-size: 1.4em;
  line-height: 1.4em;
}

@media (min-width: 768px) {
  .about.text {
    padding: 50px 5px 60px 5px;
  }
  .text {
    padding: 50px 60px 60px 60px;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

@media (min-width: 1200px) {
  .cover .titles {
    width: 960px;
  }

  .trail_avatar {
    width: 960px;
  }

  .assets-view {
    margin: 0 auto 0 auto;
    width: 960px;
  }
}
