.PFDinTextPro-ExtraBlack { 
  font-family: PFDinTextPro-ExtraBlack;
  font-weight: normal;
  font-style: normal;
}
.PFDinTextPro-Regular { 
  font-family: PFDinTextPro-Regular;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: PFDinTextPro-Regular;
  font-size: 14px;
  text-transform: uppercase;
  background: #EFEFEF url(../images/back.png) no-repeat top center; 
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

.row {
  margin: 0;
}

.text-scale {
  font-size: 1em;
  line-height: 1.2em;
/*  
  font-size: 1em;
  line-height: 1.2em;
*/  
}

/* BTNS */
/******************************************/
.btn {
  border-radius: 0;
  color: #fff;
  background-color: #4F6578;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 1em;
  padding: 4px 8px;
}
.btn:hover {
  color: #fff;
  background-color: #1E3847;
  border-color: rgba(255, 255, 255, 0.2);
}

.btn.menu {
  height: 39px;
  padding: 10px 10px 0 10px;
  font-family: PFDinTextPro-ExtraBlack;
  background-color: #FFF;
  color: #193848;
  border-color: transparent;
}
.btn.menu:hover {
  color: #fff;
  background-color: #1E3847;
}

.btn.arrow-nav {
  width: 40px;
  height: 40px;
  font-size: 1.4em;
  line-height: 1.6em;
  color: #193848;
  background-color: #FFF;
}

.btn.arrow-nav:hover {
  color: #FFF;
  background-color: #1E3847;
}

.btn.strong {
  background-color: #1E3847;
}
.btn.strong:hover {
  background-color: #4F6578;
}

.btn.category {
  color: #4b6579;
  background-color: #FFF;
}
.btn.category:hover {
  color: #fff;
  background-color: #1E3847;
}

/* MENUS VIEW */
/******************************************/
#menus-view {
  background: #FFF;
}

#menus-view .left {
  margin-top: 20px;
}

#menus-view .right {
  margin-top: 10px;
}

#menus-view .right a {
  margin-left: 10px;
}

#menus-view h1 {
  font-family: PFDinTextPro-ExtraBlack;
  color: #4b6579;
}

#menus-view h2 {
  margin: 0 0 4px 0;
  font-family: PFDinTextPro-Regular;
  color: #4b6579;
}
#menus-view h2 .small {
  font-size: 0.8em;
}

#menus-view .menus {
  display: none;
}

#menus-view .menus-collapse {
}

#menus-view .menus-collapse .menu-toggle {
  height: 40px;
  background: #203C5B;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#menus-view .menus-collapse .menu-toggle .title {
  padding: 8px 10px 0 10px;
  color: #FFF;
}

#menus-view .menus-collapse .menu-toggle h1 {
  font-size: 0.8em;
  margin: 0 0 3px 0;
  color: #FFF;
}

#menus-view .menus-collapse .menu-toggle h2 {
  font-size: 0.8em;
  margin: 0;
  color: #FFF;
}

#menus-view ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menus-view ul li {
  padding: 12px 18px 12px 18px;
}

#menus-view ul li:hover {
  cursor: pointer;
  background: #EEEEF0;
}

#menus-view ul li.active a,
#menus-view ul li:hover a {
  border-bottom: 2px solid #4F6578;
}

#menus-view .menus ul li {
  float: left;
  margin-left: 50px;
}

#menus-view .menus ul li:first-child {
  margin-left: 0px;
}

#menus-view ul li a {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

#menus-view ul li a,
#menus-view ul li a:visited,
#menus-view ul li a:active {
  text-decoration: none;
  color: inherit;
}

#menus-view ul li a:hover {
  text-decoration: none;
  color: inherit;
}

.back-btn-container {
  display: none;
}

/* JOURNEY VIEW */
/******************************************/
#journey-view {
  position: relative;
  padding-bottom: 50px;
}

#journey-view .flares {
  display: none;
}

#journey-view .flares .flare {
  position: absolute;
  pointer-events: none;
}

#journey-view .flare1 {
  top: 66px;
  left: -168px;
  width: 270px;
  height: 224px;
  background: url(../images/front1.png) no-repeat top center; 
}
#journey-view .flare2 {
  top: -43px;
  left: -80px;
  width: 72px;
  height: 66px;
  background: url(../images/front2.png) no-repeat top center; 
}
#journey-view .flare3 {
  top: 242px;
  left: 910px;
  width: 95px;
  height: 87px;
  background: url(../images/front3.png) no-repeat top center; 
}
#journey-view .flare4 {
  top: 128px;
  left: 980px;
  width: 72px;
  height: 66px;
  background: url(../images/front4.png) no-repeat top center; 
}

#journey-view .journey-detail-view {
  display: none;
  margin: 0 auto 0 auto;
  padding: 24px 28px 10px 28px;
  width: 724px;
  background: #FFF;
}

#journey-view .journey-detail-view h1 {
  padding: 0 0 4px 0;
  font-size: 2em;
  font-family: PFDinTextPro-ExtraBlack;
  color: #4b6579;
}

#journey-view .journey-detail-view h2 {
  font-size: 2em;
  font-family: PFDinTextPro-Regular;
  color: #4b6579;
}

#journey-view .journey-container-view {
  background: #FFF;
}

#journey-view .btn-container {
  display: none;
}

/* EXPEDITION VIEW */
/******************************************/
#expedition-view {
}

#expedition-view .map-view {
  position: relative;
  height: 300px;
  background: #cccccc;
}

#expedition-view .map-view .prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
}

#expedition-view .map-view .next-btn {
  position: absolute;
  top: 50%;
  right: 0;
}

#expedition-view #piste-view {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#expedition-view .event-list-view {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}

#expedition-view .grad {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 86px;
  background-size: 100% 86px;
  background: url(../images/grad-event-list-view.png) no-repeat bottom center; 
  pointer-events: none;
}

#expedition-view .event-list-view .events h1 {
  padding: 0 0 4px 0;
  font-size: 1em;
  font-family: PFDinTextPro-ExtraBlack;
  color: #89a1b3;
}

#expedition-view .event-list-view .events h2,
#expedition-view .event-list-view .events h3 {
  padding: 0 0 4px 0;
  font-size: 1em;
  font-family: PFDinTextPro-Regular;
  color: #89a1b3;
}
#expedition-view .event-list-view .events h3 {
  color: #d4e1ea;
}

#expedition-view .event-list-view .events ul li:hover h1,
#expedition-view .event-list-view .events ul li.active h1,
#expedition-view .event-list-view .events ul li:hover h2,
#expedition-view .event-list-view .events ul li.active h2 {
  color: #4b6579;
}

#expedition-view .event-list-view .events ul li:hover h3,
#expedition-view .event-list-view .events ul li.active h3 {
  color: #89a1b3;
}

#expedition-view .event-list-view .events ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#expedition-view .event-list-view .events ul li {
  clear: both;
  height: 68px;
  padding: 0 18px 0 34px;
}
#expedition-view .event-list-view .events ul li:hover,
#expedition-view .event-list-view .events ul li.active {
  cursor: pointer;
  background: #EEEEF0;
}
#expedition-view .event-list-view .events ul li.blank {
  height: 40px;
  cursor: default;
  background: transparent;
}

#expedition-view .event-list-view .events .step-container {
  float: left;
  height: 100%;
  border-left: 1px solid #EEEEF0;
}

#expedition-view .event-list-view .events .step {
  position: relative;
  margin-top: 15px; 
  margin-left: -16px;
  background: #89a1b3;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  font-family: PFDinTextPro-ExtraBlack;
  font-size: 1.1em;
  line-height: 32px;
  text-align: center;
  color: #FFF;
}
#expedition-view .event-list-view .events ul li:hover .step,
#expedition-view .event-list-view .events ul li.active .step {
  background: #1E3847;
}

#expedition-view .event-list-view .events .step .pos {
  display: inline-block;
  margin-left: -2px; 
}

#expedition-view .event-list-view .events .title {
  float: left;
  margin-top: 12px; 
  padding-left: 18px;
}

#expedition-view .event-list-view .events .categories {
  float: left;
  margin-top: 12px; 
  color: #89a1b3;
}
#expedition-view .event-list-view .events ul li:hover .categories,
#expedition-view .event-list-view .events ul li.active .categories {
  color: #1E3847;
}

#expedition-view .event-list-view .event {
  height: 68px;
}

/* EVENT VIEW */
/******************************************/
#event-view {
  display: none;
  background: #EEEEF0;
}

/* EVENT SLIDESHOW VIEW */
/******************************************/
#event-slideshow-view {
  display: none;
  background: #EEEEF0;
}

#event-slideshow-view .slideshow-view {
  width: 100%;
  overflow: hidden;
}

#event-slideshow-view .slideshow-view .slideshow-container {
  position: relative;
}

#event-slideshow-view .slideshow-view .transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}

#event-slideshow-view .slide-view {
  float: left;
}

.scale-container {
  width: 100%;
  overflow: hidden;
}

#event-slideshow-view .slide-view .text-scale {
  width: 100%;
}

/* IMAGE/TEXT */
/******************************************/
.image {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.image.portrait {
  background-size: auto 100%;
}
.image.fix {
  position: absolute;
  top: 0;
}

.text {
  width: 100%;
}
.text .content {
  padding: 10px;
}

/* VIDEO/AUDIO */
/******************************************/
.media-icon {
  position: absolute;
  top: 0;
  color: #FFF;
  font-size: 2em;
  margin: 5px 0 0 10px;
}

.video-js {
  padding-top:56.25%;
}

.vjs-fullscreen {
  padding-top:0px;
}

.vjs-default-skin .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin: -1.5em 0 0 -1.5em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: transparent;
    border: .3em solid #FFF;
}

.vjs-default-skin .vjs-big-play-button:before {
    font-family: FontAwesome !important;
    content: "\f04b" !important;
    color: #FFFFFF;
    font-size: 1.5em;
    line-height: 1.6em;
    text-shadow: none;
    text-align: center;
    margin-left: 4px;
}

.vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {
    outline: 0;
    border-color: none;
    background-color: #505050;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .text-scale {
/*    
    font-size: 1.1em;
    line-height: 1.3em;
*/    
  }

  #menus-view {
    margin: 0 auto 0 auto;
    width: 960px;
    background: transparent;
  }

  #menus-view ul li {
    padding: 0;
  }

  #menus-view .menus {
    height: 104px;
  }

  #menus-view .menus {
    display: block;
  }

  #menus-view .menus-collapse {
    display: none;
  }

  #journey-view {
    margin: 0 auto 0 auto;
    width: 960px;
  }

  #journey-view .flares {
    display: block;
  }

  #journey-view .journey-detail-view {
    display: block;
  }

  #journey-view .journey-container-view {
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
  }

  #journey-view .btn-container {
    display: block;
  }

  #expedition-view .grad {
    display: block;
  }

  #expedition-view .map-view {
    height: 490px;
  }

  #expedition-view .event-list-view {
    height: 490px;
  }

  #expedition-view .event-list-view .events-container {
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
  }

  #expedition-view .event-list-view .events-container::-webkit-scrollbar { 
    display: none; 
  }
}
