body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.4em;
}

body.fs {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
}

.nopadding {
  padding: 5px;
}
.title .nopadding {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

.row {
  margin: 5px;
}
.row.title {
  margin: 0;
}

.scale-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* FS ASSET */
/******************************************/
#fs-asset-view-container {
  display: none;
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  background-color: #000;
}

#fs-asset-view {
  width: 100%;
  height: 100%;
}

/* ASSETS */
/******************************************/
#assets-view {
}

.assets-view {
  margin: 0px 5px 0 5px;
}

/* MAP */
/******************************************/
.map-view {
  position: relative;
  height: 486px;
}

#mapbox-view {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mapbox-asset-view {
  position: absolute;
  top: 6px;
  left: 6px;
  margin: 0;
  width: 30%;
  height: 30%;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.tb-map-distance-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;  
  overflow: hidden;  
}

.tb-map-distance-marker .counter {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;

}
.tb-map-media-marker .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;  
  overflow: hidden;  
}

.tb-map-media-marker.large .icon {
  width: 100px;
  height: 100px;
}

.tb-map-media-marker.focus .icon {
  background: #ed1c24;  
}

.tb-map-media-marker img { 
  vertical-align: top;
  width: 100%;
}

.tb-map-media-marker .avatar {
  width: 60px;
  height: 60px;
  margin: 8%;
  width: 84%;
  height: 84%;
  border-radius: 50%;
  overflow: hidden;
}

.tb-map-media-marker.large .avatar {
  width: 100px;
  height: 100px;
  margin: 4%;
  width: 92%;
  height: 92%;
}

.tb-map-media-marker .pointer {
  position: absolute;
  bottom: 1px;
  left: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #FFFFFF transparent transparent transparent;
}

.tb-map-media-marker.large .pointer {
  left: 45px;
}

.tb-map-media-marker.focus .pointer {
  border-color: #ed1c24 transparent transparent transparent;
}

.tb-map-cluster img { 
  vertical-align: top;
  width: 100%;
}

.tb-map-cluster .avatar {
  width: 60px;
  height: 60px;
  margin: 8%;
  width: 84%;
  height: 84%;  
  border-radius: 50%;
  overflow: hidden;
}

.tb-map-cluster .cluster-counter {
  position: absolute;
  top: -6px;
  left: 36px;
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 1px #888888;
  background: #ed1c24;
  border-radius: 50%;
  overflow: hidden;   
}

.tb-map-cluster .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;
  overflow: hidden;
}

.tb-map-cluster.selected .cluster-counter, .tb-map-cluster.focus .cluster-counter {
  background: #ed1c24;
}

.tb-map-cluster.selected .icon, .tb-map-cluster.focus .icon {
  background: #ed1c24;
}

.tb-map-cluster .counter {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700; 
  color: #FFFFFF;
  overflow: hidden;
}

.tb-map-cluster.selected .counter, .tb-map-cluster.focus .counter {
  color: #FFFFFF;
}

.tb-map-cluster.small .cluster-counter {
  width: 20px;
  height: 20px;
}

.tb-map-cluster.small .counter {
  margin: 10%;
  width: 80%;
  height: 80%;
  line-height: 16px;
}

.tb-map-cluster.medium .cluster-counter {
  width: 30px;
  height: 30px;
}

.tb-map-cluster.medium .counter {
  margin: 8%;
  width: 84%;
  height: 84%;
  line-height: 26px;
}

.tb-map-cluster.large .cluster-counter {
  width: 34px;
  height: 34px;
}

.tb-map-cluster.large .counter {
  margin: 7%;
  width: 86%;
  height: 86%;
  line-height: 30px;
}

/* ASSET */
/******************************************/
.asset-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.asset-container:hover {
  cursor: pointer;
}

/* IMAGE/TEXT */
/******************************************/
.image {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.image.portrait {
  background-size: auto 100%;
}
.image.fix {
  position: absolute;
  top: 0;
}

.text {
  padding: 20px 5px 40px 5px;
  font-size: 1.4em;
  line-height: 1.4em;
}

@media (min-width: 768px) {
  .text {
    padding: 50px 60px 60px 60px;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

@media (min-width: 1200px) {
  .assets-view {
    margin: 0 auto 0 auto;
    width: 1190px;
  }
}
