body { 
  margin:0; 
  padding:0; 
  background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1 {
  color: #44B6F7;
}

a {
  text-decoration: underline;
  color: inherit; 
}
a:hover,
a:active {
  text-decoration: none;   
  color: inherit; 
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.rowFullWidth {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.panel-body {
  position: relative;
}

.list-group {
  margin-top: 16px;
}

/* HEADER */
/******************************************/
.header {  
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.header .logo {
  position: absolute;
  top: 0px;
  margin: 14px 0px 0px 16px;
  height: 17px;
  line-height: 17px;
}

.header .logo a {
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
  text-indent: -10000px;
  overflow: hidden;
  text-decoration: none;
  width: 132px;
  height: 17px;
  background: url("../../img/header/tb_logo.png") no-repeat top left;  
}

.header .image-container {  
  position: relative;
  width: 100%;
  height: 531px;
  opacity: 0;
}

.header .header-text-container {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
}

.header .title {
  text-align: left;
}

.header h1 {
  margin: 0px 0px 16px 0px;
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 70px;
  line-height: 1em;
  color: #FFF;
}

.header h2 {
  font-size: 24px;
  font-family: 'Signika', sans-serif;
  font-weight: light;
  font-size: 32px;
  line-height: 1.3em;
  color: #FFF;
} 

.header h2 strong {
  font-weight: normal;
}

/* JOURNEY */
/******************************************/
.journey-panel {
  margin-top: 40px;
}

/* HIGHLIGHT */
/******************************************/
.highlight-panel {
  margin-top: 0px;
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3em;
  color: #444444;
}

.highlight-panel h1 {
  padding-top: 16px;
  padding-bottom: 24px;
}

.highlight-panel h4.tb {
  margin-top: 24px;
}

/* BUTTON VIEW */
/******************************************/
.journey-view .button {
  z-index: 3;
  position: absolute;
  top: 231px;
  right: 30px;
}

/* STORY VIEW */
/******************************************/
.story-view {
  width: 100%;
  height: 260px;
}

.story-view .story-items {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.story-view .story-item {
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.story-view .title-item {
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.story-view .story-item.focus {
  z-index: 2;
}

.story-view .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;    
  -webkit-transform:translate3d(0,0,0);                  
}

/* MAP VIEW */
/******************************************/
.map-view {
  width: 100%;
  height: 192px;
  background: #FFF;
  overflow: hidden;  
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}

/* FOOTER */
/******************************************/
#footerview {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 120px;  
  background: #000;
}

#footerview .left {
  float: left;
  margin: 30px 0px 0px 30px;
}

#footerview .left .copyright {
  font-size: 14px;
  line-height: 1em;
  color: #979797;
}

#footerview .left .links {
  margin-top: 22px;
}

#footerview .left .link {
  float: left;
  margin-right: 34px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;  
  color: #979797;
  text-transform: uppercase;
}

#footerview .left .link a, 
#footerview .left .link a:link, 
#footerview .left .link a:visited {
  color: #979797;
  text-decoration: none;
}

#footerview .left .link a:hover, 
#footerview .left .link a:active {
  color: #FFFFFF;
  text-decoration: none;    
}

#footerview .right {
  float: right;
  margin: 32px 30px 0px 0px;
}

#footerview .right .social {
  float: left;
  margin: 0px 10px 0px 10px;
}

#footerview .right .email,
#footerview .right .googleplus {
  display: none;
}

#footerview a.button {
  float:left; 
  display:block;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:72px;
  height:64px;
}

#footerview a.button:hover {
  background-position: 0 -64px;
}

#footerview .btnEmail {
  background: url("../../img/footer/btn_email.png") no-repeat top left;
}

#footerview .btnFacebook {
  background: url("../../img/footer/btn_facebook.png") no-repeat top left;
}

#footerview .btnTwitter {
  background: url("../../img/footer/btn_twitter.png") no-repeat top left;
}

#footerview .btnGooglePlus {
  background: url("../../img/footer/btn_googleplus.png") no-repeat top left;
}

#footerview .btnPinterest {
  background: url("../../img/footer/btn_pinterest.png") no-repeat top left;
}

@media (min-width: 768px) {  
  .header .header-text-container {
    bottom: 100px;
  }

  #footerview .right .email,
  #footerview .right .googleplus {
    display: block;
  }  
}

@media (min-width: 992px) {  
  .header .header-text-container {
    bottom: 140px;
  }

  .highlight-panel {
    margin-top: 40px;
  }
}
