{% extends "::base.html.twig" %}

{% block title %}Trailburning Tour{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/tour.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'BaseApp';
</script>

<div class="tour_content">
	<div class="panel content">
	  	
	</div>

</div>
  	
{% endblock %}

{% block javascripts %}

{% endblock %}