{% if url is not defined  %}
    {% set url = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% endif %}
{% if text is not defined  %}
   	{% set text = 'I\'m #trailburning!' %}

   	{% if campaign is defined %}
   	  {% if campaign.bitlyUrl %}
   	    {% set text = ['#trailburning', ' ', campaign.bitlyUrl]|join %}
   	  {% endif %}
	{% endif %}   	   	    

   	{% if editorial is defined %}
   	  {% if editorial.bitlyUrl %}
   	    {% set text = ['#trailburning', ' ', editorial.bitlyUrl]|join %}
   	  {% endif %}
	{% endif %}   	   	    
   	
   	{% if event is defined %}
   	  {% if event.bitlyUrl %}
   	    {% set text = [event.title|nl2br, ' ', '#trailburning', ' ', event.bitlyUrl]|join %}
   	  {% endif %}
	{% endif %}   	   	    
   	   	    
	{% if trail is defined %}	
		{% if trail.bitlyUrl %}
			{% set text = ['I\'m #trailburning!', ' ', trail.bitlyUrl]|join %}	
		{% endif %}	
    {% endif %}    
{% endif %}

<div class="share">
  <div class="link facebook"><a href="http://www.facebook.com/share.php?u={{ url|url_shareable }}" target="_blank" class="button btnFacebook">Facebook</a></div>
  <div class="link twitter"><a href="http://twitter.com/share?text={{ text|url_encode }}&url={{ url|url_shareable }}" target="_blank" class="button btnTwitter">Twitter</a></div>
  <div class="link googleplus"><a href="https://plus.google.com/share?url={{ url|url_shareable }}?" target="_blank" class="button btnGooglePlus">Google+</a></div>          
</div>
