/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

/* CONTENT */
/******************************************/
#contentview {
  position: relative;
  margin-top: 63px;    
}

/* TRAIL MAP */
/******************************************/
#trail_map_view {
  width: 100%; 
}

#trail_map_view.map_large {
  position: absolute;
  top: 0px;
  height: 100%;
}

#trail_map_view.map_small {
  position: relative;
  height: 452px;
}

#view_map_btns {
  display: none;
  position: absolute;
  top: 34px;
  right: 22px;
}

#trail_map_overlay {
  display: none;
  position: absolute;
  top: 0px;  
  width: 100%; 
  height: 100%;  
  opacity: 0.7;
  background: #000000;  
}

#trail_info {
  display: none;
  position: absolute;
  top: 24px;
  left: 24px;
}

#trail_info .event_name {
  visibility: hidden;
}

#trail_info .trail_name {
  visibility: hidden;
}

/* OVERLAY */
/******************************************/
#overlay_view {
  display: none;
  z-index: 102;
  position: absolute;
  top: 0px;
  width: 100%; 
  height: 100%;  
}

#overlay_view .panel_content {
  position: relative;
  padding-top: 216px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#overlay_view .panel {
  float: none;
}

#overlay_view .panel .content {
  height: 288px;
  margin: 54px 0px 0px 0px;
}

#overlay_view .step_marker_container {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
}

#overlay_view .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#overlay_view h4 {
  margin-top: 24px;
}

#overlay_view .progress_container {
  margin: 20px auto 0px auto;
  width: 328px;
  height: 16px;  
}

#overlay_view .ui-progressbar {
  height: 16px;
  background: #F0F0F0;
  border-radius: 8px;
}

#overlay_view .ui-progressbar-value {
  background: #f83d3d;
}

/* STEPS */
/******************************************/
#steps {
  z-index: 100;
  position: relative;
}

/* STEP WELCOME */
/******************************************/
#step_welcome_view {
  display: none;
  width: 100%; 
  height: 100%;
}

#step_welcome_view .panel_content {
  position: relative;
  padding-top: 56px;
  margin: 0px auto 92px auto;
  width: 1112px;
  text-align: center;
}

#step_welcome_view .desc {
  margin: 24px auto 0px auto;
  width: 700px;
  text-align: center;
}

#step_welcome_view .steps {
  width: 100%;
  margin-top: 40px;
  text-align: center;  
}

#step_welcome_view .steps .step {
  vertical-align: top;
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  width: 240px;
}

#step_welcome_view .steps .step .step_marker {
  margin-bottom: 30px;
}

#step_welcome_view .next_step {
  margin-top: 42px;
}

/* STEP DETAIL */
/******************************************/
#step_detail_view {
  display: none;
  width: 100%; 
  height: 100%;
}

#step_detail_view .panel_content {
  position: relative;
  padding-top: 70px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#step_detail_view .panel {
  float: none;
}

#step_detail_view .panel .content {
  margin: 54px 0px 24px 0px;
}

#step_detail_view .step_marker_container {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
}

#step_detail_view .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#step_detail_view form {
  display: block;  
  padding-top: 18px;
}

#step_detail_view .form-group {
  width: 324px;
  margin: 14px auto 0px auto;  
  text-align: left;
}

#step_detail_view .form-group label {
}

#step_detail_view input {
  display: block;  
  width: 324px;
  height: 32px;
  line-height: 32px;
  background: #F0F0F0;  
  color: #979797;
  font-size: 22px;
}

#step_detail_view textarea {
  display: block;  
  resize: none;
  width: 324px;
  height: 176px;
  background: #F0F0F0;
  color: #979797;
  font-size: 22px;
}

#step_detail_view .next_step {
  margin-top: 24px;
}

/* STEP ROUTE */
/******************************************/
#step_route_view {
  display: none;
}

#step_route_view .panel_content {
  position: relative;
  padding-top: 216px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#step_route_view .panel {
  float: none;
}

#step_route_view .panel .content {
  height: 288px;
  margin: 54px 0px 0px 0px;
}

#step_route_view .step_marker_container {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
}

#step_route_view .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#step_route_view #uploadGPX_view .btn {
  margin-top: 24px;  
}

#step_route_view #uploadGPXprogress_view {
  display: none;
}

#step_route_view #uploadGPXprogress_view h4 {
  margin-top: 24px;
}

#step_route_view #uploadGPXprogress_view .progress_container {
  margin: 20px auto 0px auto;
  width: 328px;
  height: 16px;  
}

#step_route_view #uploadGPXprogress_view .ui-progressbar {
  height: 16px;
  background: #F0F0F0;
  border-radius: 8px;
}

#step_route_view #uploadGPXprogress_view .ui-progressbar-value {
  background: #f83d3d;
}

/* STEP ROUTE EDIT */
/******************************************/
#step_route_edit_view {
  display: none;
  background: #FFF;
}

#step_route_edit_view .gallery_panel {
  width: 100%;
  height: 216px;
  background: #FFF;
}

#step_route_edit_view .detail_panel {
  width: 100%;
  height: 376px;
  background: #F2F2F2;
}

#step_route_edit_view .detail_panel .content {
  padding-top: 24px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
/*  
  margin: 54px 0px 24px 0px;
*/  
}

#step_route_edit_view .detail_panel .desc {
  margin: 24px auto 0px auto;
  width: 380px;
  text-align: center;
}

#step_route_edit_view .detail_panel form {
  display: block;  
  padding-top: 18px;
}

#step_route_edit_view .detail_panel .form-group {
  width: 324px;
  margin: 14px auto 0px auto;  
  text-align: left;
}

#step_route_edit_view .detail_panel .form-group label {
}

#step_route_edit_view .detail_panel input {
  display: block;  
  width: 324px;
  height: 32px;
  line-height: 32px;
  background: #FFF;  
  color: #979797;
  font-size: 22px;
}

#step_route_edit_view .detail_panel textarea {
  display: block;  
  resize: none;
  width: 324px;
  height: 176px;
  background: #FFF;
  color: #979797;
  font-size: 22px;
}

#step_route_edit_view .trailcard_panel {
  width: 100%;
  height: 530px;
}

#step_route_edit_view .slideshow {
}

#step_route_edit_view .slideshow .slide {
  float: left;
  margin: 4px;
  width: 160px;
  height: 120px;
  overflow: hidden;
}

#step_route_edit_view .slideshow .slide img {
  width: 100%;
}

#uploadPhoto_view {
  position: absolute;
  top: -62px;
  right: 24px;	
}

/* STEP PUBLISHED */
/******************************************/
#step_published_view {
  display: none;
}

#step_published_view .panel_content {
  position: relative;
  padding-top: 216px;
  margin: 0px auto 92px auto;
  width: 614px;
  text-align: center;
}

#step_published_view .panel {
  float: none;
}

#step_published_view .panel .content {
  height: 364px;
  margin: 54px 0px 0px 0px;
}

#step_published_view .step_marker_container {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
}

#step_published_view .desc {
  margin: 24px auto 0px auto;
  width: 486px;
  text-align: center;
}

#step_published_view .next_step {
  margin-top: 24px;
}

/* OVERLAY */
/******************************************/
#content_overlay {
  display: none;
  z-index: 101;
  position: absolute;
  top: 0px;  
  width: 100%; 
  height: 100%;  
  opacity: 0.7;
  background: #000000;  
}

/* GENERAL */
/******************************************/
.step_marker {
  margin: 0px auto 0px auto;
  width: 73px;
  height: 73px;
  line-height: 73px;
  font-size: 28px;
  color: #FFF;
  background: url("../img/steps/step.png") no-repeat top left;
}

#trail_map {
  width:100%; 
  height: 100%;
}

.leaflet-popup-content {
  margin: 8px;
  padding: 0px;	
  width: 240px;
  height: 230px;
}

.trail_media_popup {
  margin: 0px;
  padding: 0px;	   
  text-align: center;  
}

.trail_media_popup .form-group {
  margin-top: 12px;
}

.trail_media_popup input {
  display: block;  
  margin: 0px auto 0px auto;
  width: 184px;
  height: 32px;
  line-height: 32px;
  background: #F0F0F0;  
  color: #979797;
  font-size: 22px;
}

.trail_media_popup .btn {
  margin-top: 12px;
  margin-bottom: 12px;
}

.leaflet-popup-content-wrapper{
  background: #FFF;
}

.leaflet-popup-tip{
  background: #FFF;
}

/* FOOTER */
/******************************************/
#footerview {
  display: none;
}
    
/* TOUCH */
/******************************************/
#view_map_btns .touch_btn {  
  margin: 0px 4px 0px 4px;
}
    
/* Mapbox */
.leaflet-control.mapbox-control-info {
  visibility: hidden;
}
    
/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }
  #step_welcome_view .panel_content {
    width: 968px;
  }
}

.image {
  display: none;  
}

img {
  max-width: none;
}
