/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

/* EVENT HEADER */
/******************************************/
#event_header {
  z-index: 100;
  position: relative;
  margin-top: 63px;
  width: 100%;
  height: 486px;
  overflow: overflow;
}

#event_header .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 486px;
  overflow: hidden;
}

#event_header .event_title {
  position: absolute;
  top: 23px;
  left: 32px;
  color: #44b6f7;
}

#event_header .event_logo {
  position: absolute;
  top: 23px;
  right: 34px;
}

#event_header .event_logo img {
  float: right;
  width: 100%;
}

#event_header .test1 {
  position: absolute;
  bottom: 12px;
  left: 28px;
  color: #FFF;
  
  line-height: 1em;
  vertical-align: bottom;
}

#event_header .test2 {
  float: left;
}

#event_header .sponsors {
  position: absolute;
  bottom: 12px;
  left: 30px;  
}

#event_header .sponsors .logos {
  margin-top: 8px;
}

#event_header .sponsors .logos a {
  margin-right: 18px;
}

#event_header .tb-credit {
  position: absolute;
  bottom: 12px;
  right: 30px;
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 80px auto;
  width: 1112px;
}

.panels {
  clear: left;
  width: 100%;
  padding-top: 22px;
}

.panels .left {
  float: left;
  width: 544px;
}

.panels .right {
  float: left;
  width: 568px;
}

.panel .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

/* EVENT DETAIL PANEL */
/******************************************/
.event_detail_panel {
  width: 544px;
}

.event_detail_panel .content {
  margin: 34px 72px 28px 24px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;  
  color: #000000;
}

.event_detail_panel .content h4 {
  margin: 24px 0px 22px 0px;  
}

.event_detail_panel .content .join {  
  margin-top: 24px;
}

/* EVENT REGION PANEL */
/******************************************/
.event_region_panel {
  margin-top: 24px;
  width: 544px;
}

.event_region_panel .content {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;  
  color: #000000;
}

.event_region_panel .content .title {
  margin: 24px;
}

.event_region_panel .content .detail {
  margin: 28px 60px 32px 26px;
}

.event_region_panel .content h4 {
  margin: 0px 0px 26px 0px;
  line-height: 1em;
}  

.event_region_panel .content .photo {
  position: relative;  
}

.event_region_panel .content .photo .logo {
  position: absolute;
  bottom: 12px;
  left: 20px;
}

/* EVENT TRAILS CONTAINER */
/******************************************/
.event_trails_container {
  width: 568px;
}

.event_trails_container {  
  line-height: 1em;
  color: #FFFFFF;
}

.event_trails_container a, 
.event_trails_container a:link, 
.event_trails_container a:visited,
.event_trails_container a:hover, 
.event_trails_container a:active {
  color: #FFF;
  text-decoration: none;    
}

.event_trails_container h2 {
  color: #FFFFFF;
}

.event_trails_container h3 {
  margin-left: 22px;
  height: 78px;
  line-height: 78px;
}

/* BIG EVENT TRAIL */
/******************************************/
.event_trails_container .big_event_trail {
  margin: 24px 0px 0px 24px;
  width: 544px;
}

.event_trails_container .big_event_trail .photo {
  position: relative;
}

.event_trails_container .big_event_trail .photo .image_container {
  width: 544px;
  height: 220px;  
}

.event_trails_container .big_event_trail .photo .card_title {
  position: absolute;
  bottom: 14px;
  left: 14px;
  color: #FFFFFF;
}

.event_trails_container .big_event_trail .photo .card_title h1 {
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 5px 10px 5px 5px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1em;  
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.event_trails_container .big_event_trail .details .logo {
  height: 78px;  
}

.event_trails_container .big_event_trail .logo {
  float: left;
}

.event_trails_container .big_event_trail .more { 
  float: right;
  margin-right: 14px;
  height: 56px;
  line-height: 78px;
}

/* EVENT TRAIL */
/******************************************/
.event_trails_container .event_trail {
  margin: 24px 0px 0px 24px;
  width: 260px;
}

.event_trail .desc {
  padding: 0px 0px 0px 2px;
}

.event_trail .detail {
  padding: 40px 0px 0px 34px;
  height: 220px;
  background: #44B6F7;
}

.event_trail .level1 {  
  background: #44B6F7;
}

.event_trail .level2 {  
  background: #329FDD;
}

.event_trail .level3 {  
  background: #1583C2;
}

.event_trail .detail .terrain {
  margin-top: 13px;
}

.event_trail .detail .length {
  margin-top: 13px;
}

.event_trail .more { 
  float: right;
  margin-right: 14px;
  height: 56px;
  line-height: 56px;
}

/* EVENT LOCATION PANEL */
/******************************************/
.event_location_panel {
  margin-left: 24px;
  width: 544px;
  height: 300px;
}

.event_location_panel .content {  
  margin: 11px;
}

.event_location_panel .content .event_location_map {
  width: 522px;
  height: 278px;
  background-color: transparent;   
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }
  .panel_content {
    width: 968px;
  }
  .panels .left {
    width: 472px;
  }
  .panels .right {
    width: 496px;
  }
  .event_detail_panel {
    width: 472px;
  }
  .event_region_panel {
    width: 472px;
  }
  .event_trails_container {
    width: 496px;
  }
  .event_trails_container .event_trail {
    width: 224px;
  }
  .event_trail .title {
    height: 78px;
    line-height: 78px;
  }
  .event_trail .detail {
    padding: 12px 0px 0px 34px;
    height: 190px;
  }  
  .event_location_panel {
    width: 472px;
  }
  .event_location_panel .content .event_location_map {
    width: 450px;
  }
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}

.image {
  display: none;  
}

img {
  max-width: none;
}
