
<!DOCTYPE html>
<html>
<head>
<title>Photo Viewer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="google" value="notranslate">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<link href="http://api.tiles.mapbox.com/mapbox.js/v2.3.0/mapbox.css" rel="stylesheet">
<link href="assets/css/web_platform.css" rel="stylesheet">

</head>
<body>

<script>
var TB_TRAIL = 626;
</script>

<div class="container-fluid">
  <div id="assets-View"></div>
</div>

<div id="fs-asset-view-container">
  <div id="fs-asset-view">
    <div class="image"></div>
    <div id="mapbox-asset-view"></div>
  </div>
</div>

<script type="text/template" id="assetsViewTemplate">
  <div class="row title">
    <div class="col-md-12 nopadding">
      <div class="scale-container image" style="background-image: url(http://tbmedia2.imgix.net/<%= media.versions[0].path %>?fm=jpg&q=80&w=1024fit=fill);">
      </div>
    </div>
  </div>

  <div class="row assets-view">
    <div class="col-md-12 nopadding about text"><%= about %></div>

    <% _.each(assetBlocks.blocks, function(block, index) { %>
      <% var mediaCols = 12%>
      <% var textCols = 12%>

      <% _.each(block.assets, function(asset, index) { %>
        <% if (block.assets.length == 1) { %>
          <% mediaCols = 12 %>
        <% } else if (block.assets.length == 2) { %>
          <% mediaCols = 6 %>
        <% } else if (block.assets.length == 3) { %>
          <% mediaCols = 4 %>
        <% } %>

        <% var strImage = '' %>
        <% if (asset.type == 'advert') { %>
          <% strImage = asset.filename %>
        <% } else { %>  
          <% strImage = 'http://tbmedia2.imgix.net/' + asset.versions[0].path %>
        <% } %>

        <div class="col-md-<%= mediaCols %> nopadding">
          <div class="scale-container">
            <div class="asset-container" data-id="<%= asset.id %>" data-pos="<%= asset.pos %>">
            <% if (Number(asset.tags.height) >= Number(asset.tags.width)) { %>
              <div class="image" style="background-image: url(<%= strImage %>?fm=jpg&w=1024&fit=fill&blur=100)"></div>
              <div class="overlay"></div>
              <div class="image portrait fix" style="background-image: url(<%= strImage %>?fm=jpg&q=80&w=1024&fit=fill)"></div>
            <% } else { %>
              <div class="image" style="background-image: url(<%= strImage %>?fm=jpg&q=80&w=1024&fit=fill);"></div>
            <% } %>
            </div>
          </div>
        </div>

        <% if (asset.about) { %>
          <div class="col-md-<%= textCols %> nopadding text"><%= asset.about %></div>
        <% } %>

      <% }); %>
    <% }); %>

    <div class="col-md-8 col-md-offset-2 nopadding map-view">
      <div id="mapbox-view"></div>
    </div>
  </div>
</script>

<script data-main="assets/js/main-app" src="assets/js/libs/require.min.js"></script>

</body>
</html>
