<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:title" content="Trailburning"/>
<meta property="og:url" content="http://beta.trailburning.com/events/ultraks"/>
<meta property="og:image" content="http://www.trailburning.com/assets/images/social/tb_profile_icon.png"/>

<title>Trailburning Beta</title>

<link href='http://fonts.googleapis.com/css?family=Signika:400,300,700' rel='stylesheet' type='text/css'>

<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css" rel="stylesheet">
<link href="assets/css/common_ui.css" rel="stylesheet" type="text/css">
<link href="assets/css/main.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-45211566-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

function trackOutboundLink(link, category, action) { 
  try { _gaq.push(['_trackEvent', category , action]); } catch(err){}   
  setTimeout(function() {window.open(link.href, '_blank');}, 100);
}
</script>
</head>
<body>

<div id="appview">      
  <div id="headerview">
    <div class="left"><a href="../../../"><img src="assets/img/header/tb_logo.gif" border="0"></a></div>    
    <div class="right">
      <div class="signin"><a href="../../../join" class="btn btn-tb-action btn-tb-large">Join</a></div>
      <div class="links">
        <div class="link"><a href="../../../about">Discover Trailburning</a></div>        
      </div>
      <div class="discover">
        <form id="search_form">
        <input type="text" id="search_field" name="discover">
        <input type="submit" class="search-btn">        
        </form>
      </div>
    </div>
    <div class="trans-line"></div>        
  </div>    
  
  <div id="event_header">
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/blank/event_blank_hero.jpg" class="resrc scale" /></div>
    <div class="event_title">
      <h1 class="tb tb-title">Your Event</h1>
      <br/>
      <h1 class="tb tb-title">Date</h1>
    </div>      
    <div class="event_logo"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/blank/logo_event.png" border="0"></div>    
    <div class="sponsors">
      <div class="logos">
      <a href="javascript:void(0)"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/blank/logo_sponsor.png" border="0"></a>
      <a href="javascript:void(0)"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/blank/logo_sponsor.png" border="0"></a>
      </div>
    </div>
    <div class="tb-credit">Photo credit: © Photographer</div>
  </div>

  <div class="panel_content">          
    <div id="bigbar">
      <div class="crumbs">
        <div class="crumb_lead"><a href="../../../">Home</a></div>
        <div class="crumb_links"><a href="../../events/template">Your Event</a></div>
      </div>
      <div class="share">
        <div class="link facebook"><a href="javascript:void(0)" class="button btnFacebook">Facebook</a></div>
        <div class="link twitter"><a href="javascript:void(0)" class="button btnTwitter">Twitter</a></div>
        <div class="link googleplus"><a href="javascript:void(0)" class="button btnGooglePlus">Google+</a></div>          
      </div>
    </div>
              
    <div class="panels clearfix">           
      <div class="left">        
        <div class="panel event_detail_panel">
          <div class="content">
            <h3 class="tb title">Why run your event?</h3>
            <h4 class="tb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id vehicula odio, id porta odio. Aenean dapibus ligula a orci consequat euismod.</h4>
            <p>          
            Nunc placerat ipsum vel lorem lobortis, sed fringilla sapien vestibulum. Vestibulum gravida, turpis at ultricies egestas, justo dui auctor felis, sit amet scelerisque arcu nisl a arcu. Aenean sollicitudin hendrerit enim in pulvinar. Sed mollis elit id cursus venenatis. Morbi vitae ipsum sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum porttitor, urna ac interdum tincidunt, erat nisl accumsan eros, nec scelerisque turpis nulla vel magna. 
            <br/><br/>                        
            In fermentum feugiat mauris, ut fermentum massa posuere in. Ut feugiat nisl sed magna pharetra, quis dapibus neque dictum. Integer sodales mattis placerat. Phasellus vel justo eleifend, lacinia ipsum ut, varius augue. Quisque id leo dolor. Mauris vel metus ac ante rutrum tristique non id libero. Etiam quis sollicitudin ligula. 
            </p>
            <div class="join"><a href="javascript:void(0)" class="btn btn-tb-action btn-tb-large">Your Event Website</a></div>
          </div>
        </div>
        <div class="panel event_region_panel">
          <div class="content">
            <h3 class="tb title">About Event Region</h3>
            <div class="photo">
              <img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/blank/region_blank_hero.jpg">
              <div class="logo"><a href="javascript:void(0)"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/blank/logo_region.png" border="0"></a></div>              
              </div>            
            <div class="detail">
            <h4 class="tb">State | Country</h4>            
            In rhoncus euismod nisl nec commodo. Nam facilisis sit amet libero commodo adipiscing. Aenean pulvinar elementum orci, at vestibulum velit aliquet faucibus.
            </div>
          </div>
        </div>
      </div>
        
      <div class="right">
        <div class="panel event_location_panel">
          <div class="content">
            <div id="event_location_map" class="event_location_map"></div>
          </div>
        </div>
        <div class="event_trails_container">
          <div class="panel event_trail">
            <h3 class="tb">Race 1</h3>
            <a href="16km">
            <div class="detail">
              <div class="terrain">
                <h2 class="tb">xxxx m</h2>
                <div class="desc">D+ / xxxx m D-</div>
              </div>          
              <div class="length">
                <h2 class="tb">xx km</h2>
                <div class="desc">Length</div>
              </div>
            </div>
            </a>
            <div class="more"><a class="btn btn-tb" href="javascript:void(0)">More</a></div>
          </div>
          <div class="panel event_trail">
            <h3 class="tb">Race 2</h3>
            <a href="16km">
            <div class="detail">
              <div class="terrain">
                <h2 class="tb">xxxx m</h2>
                <div class="desc">D+ / xxxx m D-</div>
              </div>          
              <div class="length">
                <h2 class="tb">xx km</h2>
                <div class="desc">Length</div>
              </div>
            </div>
            </a>
            <div class="more"><a class="btn btn-tb" href="javascript:void(0)">More</a></div>
          </div>
          <div class="panel event_trail">
            <h3 class="tb">Race 3</h3>
            <a href="16km">
            <div class="detail level2">
              <div class="terrain">
                <h2 class="tb">xxxx m</h2>
                <div class="desc">D+ / xxxx m D-</div>
              </div>          
              <div class="length">
                <h2 class="tb">xx km</h2>
                <div class="desc">Length</div>
              </div>
            </div>
            </a>
            <div class="more"><a class="btn btn-tb" href="javascript:void(0)">More</a></div>
          </div>
          <div class="panel event_trail">
            <h3 class="tb">Race 4</h3>
            <a href="16km">
            <div class="detail level2">
              <div class="terrain">
                <h2 class="tb">xxxx m</h2>
                <div class="desc">D+ / xxxx m D-</div>
              </div>          
              <div class="length">
                <h2 class="tb">xx km</h2>
                <div class="desc">Length</div>
              </div>
            </div>
            </a>
            <div class="more"><a class="btn btn-tb" href="javascript:void(0)">More</a></div>
          </div>
          <div class="panel event_trail">
            <h3 class="tb">Race 5</h3>
            <a href="16km">
            <div class="detail level3">
              <div class="terrain">
                <h2 class="tb">xxxx m</h2>
                <div class="desc">D+ / xxxx m D-</div>
              </div>          
              <div class="length">
                <h2 class="tb">xx km</h2>
                <div class="desc">Length</div>
              </div>
            </div>
            </a>
            <div class="more"><a class="btn btn-tb" href="javascript:void(0)">More</a></div>
          </div>
          <div class="panel event_trail">
            <h3 class="tb">Race 6</h3>
            <a href="16km">
            <div class="detail level3">
              <div class="terrain">
                <h2 class="tb">xxxx m</h2>
                <div class="desc">D+ / xxxx m D-</div>
              </div>          
              <div class="length">
                <h2 class="tb">xx km</h2>
                <div class="desc">Length</div>
              </div>
            </div>
            </a>
            <div class="more"><a class="btn btn-tb" href="javascript:void(0)">More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="footerview">
    <div class="left">
      <div class="copyright">Copyright © 2013, Augmented Media Projects Ltd</div>    
      <div class="links">
        <div class="link"><a href="../../../about">About</a></div>
        <div class="link"><a href="../../../presskit">Press Kit</a></div>
      </div>
    </div>
    <div class="right">
      <div class="social email"><a href="mailto:hello@trailburning.com" class="button btnEmail">Email</a></div>
      <div class="social facebook"><a href="http://www.facebook.com/trailburning" target="_blank" class="button btnFacebook">Facebook</a></div>
      <div class="social twitter"><a href="http://www.twitter.com/trailburning" target="_blank" class="button btnTwitter">Twitter</a></div>
      <div class="social googleplus"><a href="https://plus.google.com/+Trailburning/posts" target="_blank" class="button btnGooglePlus">Google+</a></div>          
      <div class="social pinterest"><a href="https://www.pinterest.com/trailburning/" target="_blank" class="button btnPinterest">Pinterest</a></div>          
    </div>
  </div>          
</div>

<script type="text/template" id="trailMapViewTemplate">
  <div id='map'></div>
</script>

<script type="text/template" id="traiAltitudeViewTemplate">
  <div class="profile"><canvas id="graph"></canvas></div>
</script>

<script src="assets/js/libs/jquery-1.8.3.min.js"></script>
<script src="assets/js/libs/bootstrap.min.js"></script>
<script src="assets/js/libs/bootstrap-filestyle.min.js"> </script>

<script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<!--[if lte IE 8]>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
<![endif]-->

<script src="assets/js/libs/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/libs/image-scale.min.js"></script>

<script src="assets/js/libs/jquery.ui.widget.js"></script>
<script src="assets/js/libs/jquery.iframe-transport.js"></script>
<script src="assets/js/libs/jquery.fileupload.js"></script>

<script data-main="assets/js/main" src="assets/js/libs/require.js"></script>

<script>
resrc = {
  options: {
    server: "app.resrc.it",
    resrcOnLoad: true,
    resrcOnResize: true,
    resrcOnPinch: false    
  }
};
</script>
<script src="//use.resrc.it"></script>
</body>
</html>
