body {  
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3em;
  color: #444444;    
}

form {
  margin: 0px;
  padding: 0px;
  display: inline;  
}

/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1024px;
}

/* HEADER */
/******************************************/
#headerview {
/*  
border-style:solid;
border-width:1px;
*/  
  z-index: 200;
  position: relative;
  width: 100%;
  height: 88px;  
  background: #FFF;
}

#headerview .left {
  float: left;
  margin: 10px 0px 0px 72px;
}

#headerview .right {
  float: right;
  margin: 25px 48px 0px 0px;
}

#headerview .right .discover {
  float: left;
  margin: 10px 10px 0px 0px;
}

#headerview .right .discover .search-btn {
  margin: 0;
  padding: 0;  
  width: 18px;
  height: 18px;
  border: none;
  font-size: 0;
  background: url("../img/header/search.gif") no-repeat top left;  
}

#headerview .right .discover input[type="text"] {
  margin: 0px 6px 0px 0px;
  background-color: #F0F0F0;
}

#headerview .right .links {
  float: left;
  margin-top: 8px;
  line-height: 36px;
}

#headerview .right .link {
  float: left;
  margin: 0px 19px 0px 19px;
  color: #44b6f7;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#headerview .right .link a, 
#headerview .right .link a:link, 
#headerview .right .link a:visited {
  color: #44b6f7;
  text-decoration: none;
}

#headerview .right .link a:hover, 
#headerview .right .link a:active {
  color: #979797;
  text-decoration: none;    
}

#headerview .right .signin {  
  float: left;
  margin-left: 19px;
}

#headerview .right .signin .btn {  
  font-size: 24px;
}

/* FOOTER */
/******************************************/
#footerview {
/*  
border-style:solid;
border-width:1px;
*/  
  z-index: 200;
  position: relative;
  width: 100%;
  height: 120px;  
  background: #000;
}

#footerview .left {
  float: left;
  margin: 30px 0px 0px 56px;
}

#footerview .left .copyright {
  font-size: 14px;
  line-height: 1em;
  color: #979797;
}

#footerview .left .links {
  margin-top: 22px;
}

#footerview .left .link {
  float: left;
  margin-right: 34px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;  
  color: #979797;
  text-transform: uppercase;
}

#footerview .left .link a, 
#footerview .left .link a:link, 
#footerview .left .link a:visited {
  color: #979797;
  text-decoration: none;
}

#footerview .left .link a:hover, 
#footerview .left .link a:active {
  color: #FFFFFF;
  text-decoration: none;    
}

#footerview .right {
  float: right;
  margin: 32px 48px 0px 0px;
}

#footerview .right .social {
  float: left;
  margin: 0px 10px 0px 10px;
}

#footerview a.button {
  float:left; 
  display:block;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:72px;
  height:64px;
}

#footerview a.button:hover {
  background-position: 0 -64px;
}

#footerview .btnEmail {
  background: url("../img/footer/btn_email.png") no-repeat top left;
}

#footerview .btnFacebook {
  background: url("../img/footer/btn_facebook.png") no-repeat top left;
}

#footerview .btnTwitter {
  background: url("../img/footer/btn_twitter.png") no-repeat top left;
}

#footerview .btnGooglePlus {
  background: url("../img/footer/btn_googleplus.png") no-repeat top left;
}

/* PROFILE HEADER */
/******************************************/
#profile_header {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 538px;
  overflow: overflow;
}

#profile_header #profile_map {
  position: relative;
  width: 100%; 
  height: 538px;
}

#profile_map {
  position: relative;
  width:100%; 
  height:538px;
}

#profile_map .leaflet-control-container {
  width: 100%;
  height: 100%;  
}

#profile_map .leaflet-top {
  width: 100%;
  height: 100%;  
}

#profile_map .leaflet-overlay {
  position: relative;
  z-index: 5;
  margin: 0px;
  width: 880px;
  height: 538px;  
  background: url(../img/above_map.png) no-repeat top left;
  background-size: 880px 538px;
}

/* BIG BAR */
/******************************************/
#bigbar {
  width: 100%;
  height: 60px;
  background: #000;  
}

#bigbar .crumb_lead {
  float: left;
  margin: 16px 0px 0px 58px;
  width: 20px;
  height: 25px;
  background: url("../img/crumb_lead.gif") no-repeat top left;    
}

#bigbar .crumbs {
  float: left;
  margin: 0px 0px 0px 18px;
  font-size: 22px;
  line-height: 58px;
  color: #7C7C7C;
}

#bigbar .crumbs a, 
#bigbar .crumbs a:link, 
#bigbar .crumbs a:visited {
  color: #7C7C7C;
  text-decoration: none;
}

#bigbar .crumbs a:hover, 
#bigbar .crumbs a:active {
  color: #FFFFFF;
  text-decoration: none;    
}

#bigbar .logos {
  float: right;
  margin-top: 7px;  
}

#bigbar .logos a {
  margin-left: 20px;
  margin-right: 20px;  
}

#bigbar .share {
  float: right;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 58px;
}

/* PANELS */
/******************************************/
.panelcontent {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
}

.panels {
  padding-top: 46px;
  margin: 0px auto 0px auto;
  width: 1294px;
}

.panels .left {
  float: left;
  width: 630px;
}

.panels .right {
  float: left;
  width: 662px;
}

/* PROFILE DETAIL PANEL */
/******************************************/
.profile_detail_panel {
  width: 630px;
}

.profile_detail_panel .content {  
  margin: 34px 78px 34px 32px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;  
  color: #000000;
}

.profile_detail_panel .content .title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1em;
  color: #44B6F7;
}

.profile_detail_panel .content h1 {
  margin: 24px 0px 22px 0px;
  padding: 0px;
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 400;
  color: #979797;
}

.profile_detail_panel .content .join {  
  margin-top: 24px;
}

.profile_detail_panel .content .join .btn {  
  font-size: 24px;
}

/* TRAIL GEAR PANEL */
/******************************************/
.trailgear_panel {
  margin-top: 32px;
  width: 630px;
  height: 380px;
}

.trailgear_panel .content .title {
  margin-left: 22px;
  height: 88px;
  font-size: 48px;
  font-weight: 400;
  line-height: 88px;
  color: #44B6F7;
}

.trailgear_panel .content .gear_list {
  width: 100%;
  height: 292px;
  overflow: hidden;
}

.trailgear_panel .content .gear_list .gear {
  float: left;
  margin: 0px 5px 0px 5px;
  width: 200px;
  color: #44B6F7;
  text-align: center;
}

.trailgear_panel .content .gear_list .gear h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 300;
}

.trailgear_panel .content .gear_list .gear h2 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 700;
}

/* TOP TRAILS PANEL */
/******************************************/
.tops_trails_panel {
  margin-left: 32px;
  width: 630px;
}

.tops_trails_panel .title {
  margin-left: 22px;
  height: 88px;
  font-size: 48px;
  font-weight: 400;
  line-height: 88px;
  color: #44B6F7;
}

.tops_trails_panel .top_trail {
  position: relative;
  height: 280px;
}

.tops_trails_panel .top_trail .image_container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.tops_trails_panel .trail_title {
  position: absolute;
  top: 30px;
  left: 26px;
  color: #FFFFFF;
}

.tops_trails_panel .trail_title h1 {
  display: block;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 30px;
  line-height: 1em;
  font-weight: 400;
  border: none;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.tops_trails_panel .trail_title h2 {
  display: inline-block;
  margin: 4px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  font-size: 30px;
  line-height: 1em;
  font-weight: 400;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);
}

/* RESPONSIVE */
/******************************************/

/* Large desktop */
@media (min-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}

.image {
  display: none;
}

img {
  max-width: none;
}
