/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

/* HOME HEADER */
/******************************************/
#home_header {
  z-index: 100;
  position: relative;
  margin-top: 63px;
  width: 100%;
  height: 564px;
  overflow: overflow;
}

#home_header .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 564px;
  overflow: hidden;
}

#home_header .event_title {
  position: absolute;
  top: 23px;
  left: 32px;
}

#home_header .share_bar {
  position: relative;
  margin: 0px auto 0px auto;
  width: 1112px;
}

#home_header .share_bar .share {
  float: right;
  margin-top: -60px;
}

#home_header .tb-credit {
  position: absolute;
  bottom: 12px;
  left: 30px;
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 95px auto;
  width: 1160px;
}

.panel_intro {
  padding-top: 30px;
  text-align: center;
}

.panel_intro .desc {
  margin: 24px auto 0px auto;
  width: 570px;
  text-align: center;
}

.panels {
  padding-top: 26px;
  text-align: center;
}

/* PANEL */
/******************************************/
.panel {
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top;
  width: 260px;
  margin: 13px 13px 13px 13px;
  line-height: 1em;
  color: #FFFFFF;
}  

.panel .summary {  
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.panel .summary strong {
  font-weight: 700;
}

.panel .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

/* BRAND CARD PANEL */
/******************************************/
.brand_card_panel .photo {
  position: relative;
}

.brand_card_panel .photo .image_container {
  height: 294px;  
}

.brand_card_panel .summary {  
  height: 62px;
  margin: 16px 0px 0px 14px;
  line-height: 1.5em;
}

/* EVENT CARD PANEL */
/******************************************/
.event_card_panel .photo {
  position: relative;
}

.event_card_panel .photo .logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.event_card_panel .photo .image_container {
  height: 294px;  
}

.event_card_panel .photo .logo img {
  width: 100%;
}

.event_card_panel .summary {  
  height: 62px;
  margin: 16px 0px 0px 14px;
  line-height: 1.5em;
}

/* BIG EVENT CARD PANEL */
/******************************************/
.big_event_card_panel {
  width: 546px;
  margin: 13px 13px 13px 13px;
  line-height: 1em;
  color: #FFFFFF;
}

.big_event_card_panel .photo {
  position: relative;
}

.big_event_card_panel .photo .logo {
  position: absolute;
  top: 0px;
}

.big_event_card_panel .photo .image_container {
  width: 546px;
  height: 294px;  
}

.big_event_card_panel .summary {
  height: 62px;
  margin: 16px 0px 0px 14px;
  line-height: 1.5em;
}

.big_event_card_panel .summary .title {
  float: left;  
}

.big_event_card_panel .summary .detail {  
  float: right;
  margin-right: 24px;  
  text-align: right;
}

/* EDITORIAL CARD PANEL */
/******************************************/
.editorial_card_panel .title {
  width: 100%;
  height: 45px;
  background: url("../img/sponsor/back_small.png") repeat-x top left;
}

.editorial_card_panel .title .tb {
  float: left;
  margin: 6px 0px 0px 10px;
}

.editorial_card_panel .title .sponsor {
  float: right;
  margin: 8px 10px 0px 0px;
}

.editorial_card_panel .detail_container {
  height: 294px;
}

.editorial_card_panel .detail_container .detail {
  position: relative;
  margin: 0px 22px 0px 22px;
  height: 249px;
  overflow: hidden;    	
}

.editorial_card_panel .detail_container .detail h3 {
  position: absolute;
  bottom: 16px;
  line-height: 1.1em;
  color: #6D6E71;
}

.editorial_card_panel a,
.editorial_card_panel a:hover,
.editorial_card_panel a:active {
  text-decoration: none;   
  color: inherit; 
}

.editorial_card_panel .summary {
  height: 73px;
  margin: 5px 0px 0px 14px;
}

.editorial_card_panel .summary .avatar {
  float: left;
  width: 54px;
  margin-top: 5px;
}

.editorial_card_panel .summary .avatar img {
  width: 100%;
}

.editorial_card_panel .summary .detail {
  float: left;  
  margin-top: 14px;
  margin-left: 6px;
}

.editorial_card_panel .summary .date {
  margin-top: 6px;
  font-size: 14px;
  line-height: 1em;
  color: #979797;
}

/* TRAIL CARD PANEL */
/******************************************/
.trail_card_panel .title {
  margin-left: 22px;
  height: 74px;
  color: #44B6F7;
}

.trail_card_panel .title h3 {
  line-height: 74px;
}

.trail_card_panel .photo {
  position: relative;
}

.trail_card_panel .photo .card_title {
  position: absolute;
  bottom: 14px;
  left: 14px;
  color: #FFFFFF;
}

.trail_card_panel .photo .card_title h1 {
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 5px 10px 5px 5px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1em;  
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.trail_card_panel .summary {  
  height: 73px;
  margin: 5px 0px 0px 14px;
  color: #44B6F7;
}

.trail_card_panel .summary .sponsor {
  float: left;  
}

.trail_card_panel .summary .avatar {
  float: left;
  width: 54px;
  margin-top: 5px;
}

.trail_card_panel .summary .avatar img {
  width: 100%;
}

.trail_card_panel .summary .detail {
  float: left;  
  margin-top: 14px;
  margin-left: 6px;
}

.trail_card_panel .summary .stars {
  margin-top: 6px;
}

.trail_card_panel .summary .stars div {
  width: 13px;
  height: 14px;
}

/* GUIDE */
/******************************************/
.guide_content {
  width: 100%;
  height: 924px;
  background: #FFF;
}

.guide_content .sticker {
  position: relative;
  margin: 0px auto 0px auto;
  width: 162px;
}

.guide_content .sticker img {
  position: absolute;
  top: -56px;
  width: 100%;
}

.guide_content .content {
  padding-top: 122px;
  margin: 0px auto 0px auto;
  width: 1160px;
}

.guide_content .content .title {
  text-align: center;  
}

.guide_content .content .desc {
  margin: 0px auto 0px auto;
  width: 500px;
  margin-top: 15px;
  text-align: center;    
}

.guide_content .guide_items {
  margin-top: 58px;
  width: 100%;
  height: 420px;  
  background: url("../img/guide_back.png") no-repeat 364px 120px;    
}

.guide_content .guide_item {
  float: left;
  margin: 0px 55px 0px 55px;
  width: 270px;
/*  
  font-size: 50px;
  line-height: 1em;
  color: #44B6F7;
*/  
  text-align: center;  
}

.guide_content .guide_item img {
  width: 100%;
}

.guide_content .guide_item .title {
  margin-top: 10px;
}

.guide_content .guide_item h4 {
  margin-top: 18px;
}

/* FOOTER PROMOTE */
/******************************************/
.footer_promote {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 682px;
  overflow: overflow;  
}

.footer_promote .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 682px;
  overflow: hidden;
}

.footer_promote .promote_title {
  position: absolute;
  top: 122px;
  width: 100%;
  text-align: center;
}

.footer_promote .desc {
  margin-top: 18px;
  font-size: 22px;
  color: #FFF;
  text-shadow: 1px 1px #000000;  
}

.footer_promote .signin {
  margin-top: 18px;
}

.footer_promote .tb-credit {
  position: absolute;
  bottom: 12px;
  left: 30px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }  
  #home_header .share_bar {
    width: 992px;
  }
  .panel_content {
    width: 992px;
  }   
  .panel {
    width: 224px;
    margin: 12px 10px 12px 10px;
  }    
  .panel .summary {  
    font-size: 14px;
  }  
  .panel .image_container {
    height: 190px;
  }
  .brand_card_panel .photo .image_container {
    height: 254px;
  }  
  .brand_card_panel .summary {  
    height: 54px;
    margin: 10px 0px 0px 12px;
  }
  .event_card_panel .photo .image_container {
    height: 254px;
  }  
  .event_card_panel .summary {  
    height: 54px;
    margin: 10px 0px 0px 12px;
  }
  .big_event_card_panel {  
    width: 468px;
  }  
  .big_event_card_panel .photo .image_container {
    width: 468px;
    height: 254px;
  }
  .big_event_card_panel .summary {
    height: 54px;
    margin: 10px 0px 0px 12px;
  }  
  .trail_card_panel .title {
    margin-left: 18px;
    height: 64px;
  }  
  .trail_card_panel .title h3 {
    line-height: 64px;
  }
  .trail_card_panel .summary {  
    height: 64px;
    margin: 0px 0px 0px 12px;
  }      
  .editorial_card_panel .detail_container {
    height: 254px;
  }
  .editorial_card_panel .detail_container .detail {
    height: 209px;
  }
  .editorial_card_panel .summary {  
    height: 64px;
    margin: 0px 0px 0px 12px;
  }      
  .guide_content {
    height: 786px;
  }
  .guide_content .content {
    width: 992px;
  }  
  .guide_content .guide_items {
    margin-top: 58px;
    width: 100%;
    height: 420px;  
    background: url("../img/guide_back.png") no-repeat 302px 102px;    
    background-size: 360px 71px;  
  }  
  .guide_content .guide_item {
    margin: 0px 48px 0px 48px;
    width: 222px;
    font-size: 50px;
    line-height: 1em;
    color: #44B6F7;
    text-align: center;  
  }  
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}

.image {
  display: none;  
}

img {
  max-width: none;
}
