/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1160px;
}

/* DEF HEADER */
/******************************************/
#def_header {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 486px;
  overflow: hidden;
}

#def_header .image_container {
  width: 100%;
  height: 486px;
  overflow: hidden;
}

#def_header .event_title {
  position: absolute;
  top: 23px;
  left: 32px;
  color: #44b6f7;
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 520px auto;
  width: 1112px;
}

.panel_intro {
  clear: both;
  padding-top: 30px;
  text-align: center;
}

.panel_intro .desc {
  margin: 24px auto 0px auto;
  width: 700px;
  text-align: center;
}

.panel_intro .desc h3 {
  padding-top: 20px;
}

.panel_intro .desc h4 {
  padding-top: 24px;
}

.panel_intro .signup_panel {
  margin-top: 40px;
}

.panel_intro .signup_panel input[type="text"] {
  margin: 0px;
  width: 325px;
  height: 36px;
  line-height: 36px;
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #fff;      
  background: #FFF;
}

.panel_intro .submit {
  margin-top: 24px;
}

/* FOOTER PROMOTE */
/******************************************/
.footer_promote {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 682px;
  overflow: overflow;  
}

.footer_promote .image_container {
  width: 100%;
  height: 682px;
  overflow: hidden;
}

.footer_promote .promote_title {
  position: absolute;
  top: 122px;
  width: 100%;
  text-align: center;
}

.footer_promote .desc {
  margin-top: 18px;
  font-size: 22px;
  color: #FFF;
  text-shadow: 1px 1px #000000;  
}

.footer_promote .signin {
  margin-top: 18px;
}

/* RESPONSIVE */
/******************************************/

/* Large desktop */
@media (min-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}

.image {
  display: none;  
}

img {
  max-width: none;
}
