/* TB BUTTONS */
/******************************************/

/* TB BUTTONS */
/******************************************/
.btn-tb {
  font-family: 'Signika', sans-serif;
  padding: 4px 10px;
  font-size: 18px;  
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2B99E3;
  *background-color: #2B99E3;
  background-image: -moz-linear-gradient(top, #44b6f7, #2B99E3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44b6f7), to(#2B99E3));
  background-image: -webkit-linear-gradient(top, #44b6f7, #2B99E3);
  background-image: -o-linear-gradient(top, #44b6f7, #2B99E3);
  background-image: linear-gradient(to bottom, #44b6f7, #2B99E3);
  background-repeat: repeat-x;
  border-color: #2B99E3;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44b6f7', endColorstr='#2B99E3', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-tb:hover,
.btn-tb:active,
.btn-tb.active,
.btn-tb.disabled,
.btn-tb[disabled] {
  color: #FFFFFF;
  background-color: #2B99E3;
  *background-color: #003bb3;
}

.btn-tb-action {
  font-family: 'Signika', sans-serif;  
  padding: 4px 10px;
  font-size: 18px;  
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ED1C24;
  *background-color: #ED1C24;
  background-image: -moz-linear-gradient(top, #ff514c, #ED1C24);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff514c), to(#ED1C24));
  background-image: -webkit-linear-gradient(top, #ff514c, #ED1C24);
  background-image: -o-linear-gradient(top, #ff514c, #ED1C24);
  background-image: linear-gradient(to bottom, #ff514c, #ED1C24);
  background-repeat: repeat-x;
  border-color: #ED1C24;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff514c', endColorstr='#ED1C24', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-tb-action:hover,
.btn-tb-action:active,
.btn-tb-action.active,
.btn-tb-action.disabled,
.btn-tb-action[disabled] {
  color: #FFFFFF;
  background-color: #ED1C24;
  *background-color: #003bb3;
}

.btn-tb-mega {
  padding: 11px 15px;
  font-size: 26px;  
}

.btn-tb-large {
  padding: 8px 15px;
  font-size: 22px;  
}

/* TB TITLES */
/******************************************/
h1.tb {
  display: inline-block;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-size: 70px;
  line-height: 1em;
  color: #44B6F7;  
  background-color: #FFF;
  border: none;
  *zoom: 1;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);    
}

h2.tb {
  display: inline-block;
  margin: 16px 0px 0px 0px;
  padding: 5px 10px 5px 10px;  
  font-weight: normal;
  font-size: 70px;
  line-height: 1em;
  color: #44B6F7;
  background-color: #FFF;
  border: none;
  *zoom: 1;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);    
}

h3.tb {
  margin: 0px;
  padding: 0px;
  font-size: 42px;
  font-weight: 400;
  line-height: 1em;
  color: #44B6F7;
}

h4.tb {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3em;
  color: #979797;
}

/* TB PANELS */
/******************************************/
.panel {
  float: left;  
  overflow: hidden;
  background-color: #FFF;
  border: none;
  *zoom: 1;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);  
}

.blank_2col_panel {
  float: left;  
  margin: 32px 0px 0px 0px;
  width: 630px;
  height: 380px;
}

/* TB CANDY */
/******************************************/
.star {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/star.png) no-repeat top left;    
}

.star_full {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/star_full.png) no-repeat top left;    
}

.star_half {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/star_half.png) no-repeat top left;    
}

.trans-line {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;
  background: url(../img/trans_line.png) repeat-x top left;  
}
