/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

/* BIG SPONSOR BAR */
/******************************************/
#big_sponsor_bar {
  position: absolute;
  top: 63px;
  width: 100%;
  height: 119px;
  background: url("../img/sponsor/back_big.png") repeat-x top left;  
}

#big_sponsor_bar .sponsor_content {
  margin: 34px auto 0px auto;
  width: 1112px;  
  text-shadow: 1px 1px #000000;    
}

/* SMALL SPONSOR BAR */
/******************************************/
#small_sponsor_bar {
  z-index: 199;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 45px;
  background: url("../img/sponsor/back_small.png") repeat-x top left;
}

html.no-touch #small_sponsor_bar {
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;    
  -webkit-transform:translate3d(0,0,0);
}

html.touch #small_sponsor_bar {
  display: none;
  top: 63px;
}

#small_sponsor_bar .sponsor_content {
  margin: 8px auto 0px auto;
  width: 1112px;	
}

/* SPONSOR CONTENT */
/******************************************/
.sponsor_content {	
  font-size: 14px;
  line-height: 1em;
  color: #FFFFFF;	
}

.sponsor_content a, 
.sponsor_content a:link, 
.sponsor_content a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.sponsor_content a:hover, 
.sponsor_content a:active {
  color: #979797;
  text-decoration: none;    
}

.sponsor_content .link {
  float: left;
  margin-top: 10px;
  text-transform: uppercase;
}

.sponsor_content .brand {
  float: right;
}

.sponsor_content .strap {
  float: left;  
  margin-top: 10px;
}

.sponsor_content .logo {
  float: left;
  margin-left: 10px;
}

/* PANELS */
/******************************************/
.panel_content {
  position: relative;
  margin: 0px auto 80px auto;
  width: 1112px;
  margin-top: 163px;
}

.panels {
  clear: left;
  width: 100%;
}

/* EDITORIAL PANEL */
/******************************************/
.editorial_panel .header {
  margin: 110px 90px 64px 85px;
  color: #6D6E71;
}

.editorial_panel .header .title {
  float: left;
  width: 809px;
  font-size: 70px;
  line-height: 1.1em;
}

.editorial_panel .header .details {
  margin: 12px 0px 0px 8px;
  font-size: 22px;
  line-height: 1em;
  color: #979797;
}

.editorial_panel .header .details .date {
  font-size: 14px;	
}

.editorial_panel .header .avatar {
  float: left;
  width: 128px;
}

.editorial_panel .header .avatar img {
  width: 100%;
}

.editorial_panel .hero {
  margin: 0px 8px 0px 8px;
  width: 1096px;
}

.editorial_panel .hero img {
  width: 100%;
}

.editorial_panel .content {
  margin: 68px 82px 0px 82px; 
  width: 948px;
}

.editorial_panel .content .header {
	float: left;
	margin: 0px;
	width: 472px;
	font-size: 50px;
	line-height: 1em;
}

.editorial_panel .content .line {
	float: left;
	width: 328px;
	margin-top: 27px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #C1C1C1;
}

.editorial_panel .content .share_bar {
	float: left;
	margin-top: 8px;
	width: 148px;
}

.editorial_panel .content .share_bar .share {
	float: right;
}

#column_wrapper { 
	clear: both;
	margin: 0px 0px 0px 4px;
}

#column_wrapper .columns {
	margin: 42px 0px 0px 0px;
}

#column_wrapper p { 
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

#column_wrapper h1 { 
	margin: 0px 0px 20px 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 22px;
	color: #979797;
	line-height: 1.5em;
}

#column_wrapper .first div {
	 padding-right: 42px;
}

#column_wrapper .last div {
	 padding-left: 42px;
}

.column div { 
	text-align: justify;
	padding-right: 0px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5em; 
}

.editorial_panel .content .map_header {
	margin-top: 44px;
	width: 100%;
}

.editorial_panel .content .map_header .header {
	float: left;
	margin: 0px;
	width: 436px;
	font-size: 50px;
	line-height: 1em;
}

.editorial_panel .content .map_header .line {
	float: right;
	width: 512px;
	margin-top: 27px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #C1C1C1;
}

/* EDITORIAL REGION VIEW */
/******************************************/
#editorial_region_view {
  position: relative;
  margin: 40px 0px 30px 0px;
  width: 948px;
  height: 378px;
}

#editorial_map_view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#editorial_map_view #map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent; 
}

#editorial_region_view .border_top {  
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;  
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

#editorial_region_view .border_left {
  position: absolute;
  top: 0px;
  width: 2px;
  height: 100%;  
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

/* EDITORIAL CARDS */
/******************************************/
.editorial_cards {
  margin-bottom: 46px;
}

.editorial_cards .panel {
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top;
  width: 260px;
  margin: 13px 13px 13px 13px;
  line-height: 1em;
  color: #FFFFFF;
}  

.editorial_cards .panel .summary {  
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.editorial_cards .panel .summary strong {
  font-weight: 700;
}

.editorial_cards .panel .image_container {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

/* TRAIL CARD PANEL */
/******************************************/
.trail_card_sticker {
  float: left;
  margin: 22px 5px 0px 6px;
  width: 305px;
  height: 412px;
  background: url("../img/card_sticker_back.png") no-repeat top left;
  background-size: 100% 100%;  	
}

.trail_card_panel .title {
  margin-left: 22px;
  height: 74px;
  color: #44B6F7;
}

.trail_card_panel .title h3 {
  line-height: 74px;
}

.trail_card_panel .photo {
  position: relative;
}

.trail_card_panel .photo .card_title {
  position: absolute;
  bottom: 14px;
  left: 14px;
  color: #FFFFFF;
}

.trail_card_panel .photo .card_title h1 {
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 5px 10px 5px 5px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1em;  
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.trail_card_panel .summary {  
  height: 73px;
  margin: 5px 0px 0px 14px;
  color: #44B6F7;
}

.trail_card_panel .summary .sponsor {
  float: left;  
}

.trail_card_panel .summary .avatar {
  float: left;
  width: 54px;
  margin-top: 5px;
}

.trail_card_panel .summary .avatar img {
  width: 100%;
}

.trail_card_panel .summary .detail {
  float: left;  
  margin-top: 14px;
  margin-left: 6px;
}

.trail_card_panel .summary .stars {
  margin-top: 6px;
}

.trail_card_panel .summary .stars div {
  width: 13px;
  height: 14px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }
  #big_sponsor_bar .sponsor_content {
    width: 968px;  
  }
  #small_sponsor_bar .sponsor_content {
    width: 968px;  
  }
  .panel_content {
    width: 968px;
  }
  .editorial_panel .header {
    margin: 96px 78px 56px 74px;
  }  
  .editorial_panel .header .title {
    width: 704px;
  }
  .editorial_panel .header .avatar {
    width: 112px;
  }  
  .editorial_panel .hero {
	width: 952px;
  }
  .editorial_panel .content {
    margin: 59px 71px 0px 71px; 
    width: 826px;
  }  
  .editorial_panel .content .line {
	width: 206px;
  }
  .editorial_panel .content .map_header .line {
	width: 390px;
  }  
  #editorial_region_view {
    width: 826px;
    height: 330px;
  }
  .trail_card_sticker {
    margin: 22px 5px 0px 5px;
    width: 265px;
    height: 358px;
  }
  .editorial_cards .panel {
    width: 224px;
    margin: 12px 10px 12px 10px;
  }  
  .editorial_cards .panel .image_container {
    height: 190px;
  }
  .editorial_cards .trail_card_panel .title {
    margin-left: 18px;
    height: 64px;
  }  
  .editorial_cards .trail_card_panel .title h3 {
    line-height: 64px;
  }
  .editorial_cards .trail_card_panel .summary {  
    height: 64px;
    margin: 0px 0px 0px 12px;
  }      
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}

.image {
  display: none;  
}

img {
  max-width: none;
}
