{% extends '::base.html.twig' %}

{% block title %}Discover Trails{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/events.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'EventsApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

  <div class="trails_content">
  	<div class="content">
  		
      <h2 class="tb tb-title">Discover Events</h2>
      <div class="desc"><h4 class="tb">Discover running events from around the world</h4></div>      

	  <div class="panels trailcards clearfix">
	  	<div id="trailCards"></div>
	  </div>
	  <div class="nav">       
	    <div class="more_btn"><a href="javascript:void(0)" class="btn btn-tb btn-tb-small">More Events</a></div>	  
	    <div class="tb-loader"><div class="spinner"></div><div class="middle">...</div></div>
	  </div>	    		
  	</div>
  </div>

{% endblock %}


{% block javascripts %}

<script type="text/template" id="eventsEventCardViewTemplate">
    <a href="events/<%= slug %>">
    <div class="photo tb-photo-btn">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://assets.trailburning.com/images/event/<%= slug %>/<%= image %>" class="resrc scale" border="0"/></div>
      <div class="logo"><img src="http://assets.trailburning.com/images/event/<%= slug %>/<%= logo_small %>"/></div>
    </div>
    </a>
    <div class="summary">
      <strong><%= title_text %></strong><br />Event - <%= date_text %>
    </div>
</script>

{% endblock %}