/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

#appview .delay_transition {
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;  
}

/* TRAIL PLAYER */
/******************************************/
#trailplayer {
  display: none;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

#trailplayer #trail_views {
  position: relative;
  width: 100%;
  height: 100%;  
}

#trail_overlay {
  z-index: 1;  
  position: absolute;
  top: 0px;
  width: 100%;
  height: 218px;
}

#trail_overlay .overlay_pull {
  position: relative;
  margin: -258px auto 0px auto;
  width: 80px;
  height: 40px;  
}

#trail_overlay .overlay_pull .button {
  position: absolute;
  top: 13px;
  left: 4px;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:72px;
  height:27px;
  background: url("../img/trailplayer/pull.png") no-repeat top left;
}

#trail_overlay .overlay_pull .overlay_pull_hover {
  background-position: 0 -27px;  
}

#trail_overlay .overlay_content {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0px auto 0px auto;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);        
}

/* TRAIL STATS VIEW */
/******************************************/
#trail_stats_view {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 234px;
  height: 218px;  
}

.trailstats_panel .content {
  margin: 30px 0px 0px 42px;
  line-height: 1em;
  color: #44B6F7;
}

.trailstats_panel .content h2 {
  margin: 0px;
  padding: 0px;
}

.trailstats_panel .content .terrain h2 {
  font-weight: 300;
}

.trailstats_panel .content .desc {
  margin: 0px;
  padding: 0px 0px 0px 2px;
  line-height: 1.8em;  
  font-weight: 300;
}

.trailstats_panel .content .length {
}

.trailstats_panel .content .terrain {
  margin-top: 13px;
}

/* TRAIL ALTITUDE VIEW */
/******************************************/
#trail_altitude_view {
  position: absolute;
  top: 60px;
  left: 234px;
  width: 688px;
  height: 218px;
  background: #FFF;    
  border: none;
}

.trail_altitude_panel .profile {
  position: absolute;
}

.trail_altitude_panel .profile .marker_container .alt {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Arial";  
  font-size: 16px;
  color: #44B6F7;
  text-align: right;
}

.trail_altitude_panel .profile .marker {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;  
  width: 18px;
  height: 18px;
  background: url(https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/icons/sm_marker_inactive.png) no-repeat top left;
}

.trail_altitude_panel .profile .marker_active {
  background: url(https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/icons/sm_marker_active.png) no-repeat top left;
}

.trail_altitude_panel .profile .location {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;  
  width: 27px;
  height: 34px;
  background: url(https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/icons/sm_location.png) no-repeat top left;    
}

/* TRAIL MINI VIEW */
/******************************************/
#trail_mini_view {
  position: absolute;
  top: 80px;
  left: 922px;
  width: 278px;
  height: 218px;
}

#trail_mini_view .border_top {  
  position: absolute;
  top: 5px;
  width: 272px;
  height: 2px;  
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

#trail_mini_view .border_left {
  position: absolute;
  top: 5px;
  width: 2px;
  height: 204px;  
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

#trail_mini_view .toggle_view_button {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 272px;
  height: 204px;
  background: url(../img/trailplayer/btn_transparent.png) repeat top left;
}

/* TRAIL MINI MAP VIEW */
/******************************************/
#trail_minimap_view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 278px;
  height: 218px;
}

#trail_minimap_view #minimap {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 272px;
  height: 204px;
  background-color: transparent; 
}

/* TRAIL MINI SLIDE VIEW */
/******************************************/
#trail_minislide_view {
  display: none;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 272px;
  height: 204px;
}

#minislide .photos_container {  
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#minislide .image_container {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;  
  width: 272px;
  height: 204px;  
  overflow: hidden;  
}

/* TRAIL SLIDE VIEW */
/******************************************/
#trail_slide_view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 700px;
  overflow: hidden;  
}

#trail_slide_view .photos_container {  
  position: relative;  
  width: 100%;
  height: 100%;  
  overflow: hidden;  
}

#trail_slide_view .image_container {
  position: absolute;
  opacity: 0;  
  top: 0px;
  left: 0px;  
  width: 100%;
  height: 100%;  
  overflow: hidden;
}

#trail_slide_view .image_container img {
  width: 100%;
}

#trail_slide_view .slide_btns { 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#trail_slide_view .slide_btns .left { 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
}

#trail_slide_view .slide_btns .right { 
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
}

#trail_slide_view .loader_container {
  display: none;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 100%;
}

#trail_slide_view .loader {
  margin: -44px auto 0px auto;
  width: 88px;
  height: 88px;
}

/* TRAIL MAP VIEW */
/******************************************/
#trail_map_view {
  position: absolute;
  top: 0px;
  left: 0px;
}

#trail_map_view .map_container {
  position: relative;
  width: 100%;
  height: 700px;
}

#trail_map_view #map_large {
  width: 100%;
  height: 100%;
}

/* TRAIL PLAYER */
/******************************************/
#trailplayer {
  background: #DEDEDE;
}

#trailplayer #trail_info {
  position: absolute;
  top: -300px;
  left: 24px;
}

#trailplayer .trail_avatar {
  position: absolute;
  top: -300px;
  left: 0px;
  width: 130px;
}

#trailplayer .trail_avatar img {
  width: 100%;
}

#trailplayer .trail_title {
  position: relative;
  top: -100px;
  left: 144px;
  color: #44b6f7;
}

#trailplayer .no_avatar {
  left: 0px;
}

#trailplayer .trail_title .author {
  display: inline-block;
  margin: 13px 0px 0px 2px;
  padding: 5px 10px 5px 10px;
  font-size: 22px;
  line-height: 1em;
  font-weight: 400;
  color: #FFF;
  border: none;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

/* VIEW CNTRLS */
/******************************************/
#trailplayer #view_map_btns {
  display: none;
  position: absolute;
  top: 34px;
  right: 152px;
}

#trailplayer #view_player_btns {
  position: absolute;
  top: 22px;
  right: 22px;  
}

#trailplayer #slideshow_toggle {
  position: absolute;
  top: 0px;
  right: 63px;  
}

#trailplayer #view_toggle {
  position: absolute;
  top: 0px;
  right: 0px;  
}

#trailplayer #view_player_btns .button {
  float:left; 
  display:block;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:53px;
  height:54px;
}

#trailplayer #view_player_btns #view_toggle .button {
  background: url("../img/trailplayer/view_toggle.png") no-repeat top left;
}

#trailplayer #view_player_btns #view_toggle .view_map {
  background-position: 0 0;  
}

#trailplayer #view_player_btns #view_toggle .view_map_hover {
  background-position: -53px 0;  
}

#trailplayer #view_player_btns #view_toggle .view_photo {
  background-position: 0 -54px;
}

#trailplayer #view_player_btns #view_toggle .view_photo_hover {
  background-position: -53px -54px;  
}

#trailplayer #view_player_btns #slideshow_toggle .button {
  background: url("../img/trailplayer/slideshow_toggle.png") no-repeat top left;
}

#trailplayer #view_player_btns #slideshow_toggle .slideshow_pause {
  background-position: 0 0;  
}

#trailplayer #view_player_btns #slideshow_toggle .slideshow_pause_hover {
  background-position: -53px 0;  
}

#trailplayer #view_player_btns #slideshow_toggle .slideshow_play {
  background-position: 0 -54px;
}

#trailplayer #view_player_btns #slideshow_toggle .slideshow_play_hover {
  background-position: -53px -54px;  
}

/* 2COL PANELS */
/******************************************/
.two_col_panels {
  clear: left;
  width: 100%;
}

.two_col_panels .left {
  float: left;
  width: 544px;
}

.two_col_panels .right {
  float: left;
  width: 568px;
}

/* PANELS */
/******************************************/
.panel_container {
  display: none;
  position: relative;
  width: 100%;  
}

.panel_container .line_break {
  z-index: 100;
  position: absolute;
  top: 0px;
  height: 8px;
  background: url(../img/trailplayer/trans_line.png) repeat-x top left;    
}

.panel_content_container {
  z-index: 100;
  position: relative;
  background: #F0F0F0;
}

.panel_content {
  position: relative;
  margin: 0px auto 164px auto;
  width: 1112px;
}

.panels {
  clear: left;
  width: 100%;
  padding-top: 22px;
}

/* PANEL */
/******************************************/
.panel .image_container {
  position: relative;
  opacity: 0;
}

/* TRAIL DETAIL PANEL */
/******************************************/
.trail_detail_panel {
  width: 544px;
}

.trail_detail_panel .content {
  margin: 34px 72px 28px 24px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;  
  color: #000000;
}

.trail_detail_panel .content h4 {
  margin: 24px 0px 22px 0px;  
}

/* TRAIL WEATHER PANEL */
/******************************************/
.trail_weather_panel {
  margin: 0px 0px 0px 24px;
  width: 544px;
}

.trail_weather_panel .content {
  margin: 34px 0px 28px 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3em;  
  color: #44b6f7;
}

.trail_weather_panel .content .desc {
  padding: 0px 0px 0px 4px;
}

.trail_weather_panel h1 {
  margin: 0px;
  padding: 0px;
}

.trail_weather_panel h2 {
  margin: 0px;
  padding: 0px 0px 0px 2px;
}

.trail_weather_panel .detail {
  padding: 0px 0px 0px 4px;
}

.trail_weather_panel .detail .text {
  float: left;
  width: 302px;
}

.trail_weather_panel .detail .icon {
  float: left;
  width: 164px;
}

.trail_weather_panel .detail .icon img {
  width: 100%;
}

.trail_weather_panel .detail .temp {
  margin-top: 54px;
}

.trail_weather_panel .detail .wind {
  margin-top: 22px;
}

/* OTHER TRAILS PANEL */
/******************************************/
.othertrails_panel {
  margin: 24px 0px 0px 0px;
  width: 544px;
  height: 336px;
}

.othertrails_panel .content h3 {
  margin-left: 22px;
  height: 78px;
  line-height: 78px;
}

.othertrails_panel .content .trails {
  position: relative;
  height: 220px;
}

.othertrails_panel .content .trails .image_container {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.othertrails_panel .content .trail_title {
  position: absolute;
  top: 26px;
  left: 22px;
  color: #FFFFFF;
}

.othertrails_panel .content .trail_title h1 {
  display: block;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 26px;
  line-height: 1em;
  font-weight: 400;
  border: none;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.othertrails_panel .content .trail_title h2 {
  display: inline-block;
  margin: 4px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  font-size: 26px;
  line-height: 1em;
  font-weight: 400;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);
}

.othertrails_panel .content .trail_title strong {
  font-weight: 700;  
}

/* TRAIL GEAR PANEL */
/******************************************/
.trailgear_panel {
  margin: 24px 0px 0px 24px;
  width: 544px;
  height: 336px;
}

.trailgear_panel .content .title {
  margin-left: 22px;
  height: 78px;
  font-size: 42px;
  font-weight: 400;
  line-height: 78px;
  color: #44B6F7;
}

.trailgear_panel .content .gear_list {
  width: 100%;
  height: 258px;
  overflow: hidden;
}

.trailgear_panel .content .gear_list .gear {
  float: left;
  margin: 0px 4px 0px 4px;
  width: 172px;
  color: #44B6F7;
  text-align: center;
}

.trailgear_panel .content .gear_list .gear h1 {
  margin: 4px 0px 0px 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 300;
}

.trailgear_panel .content .gear_list .gear h2 {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 700;
}

/* PROMOTE PANEL */
/******************************************/
.promote_panel {
  margin: 24px 0px 0px 24px;
  width: 260px;
  height: 336px;
}

.promote_panel .content h3 {
  margin-left: 22px;
  height: 78px;
  line-height: 78px;
}

.promote_panel .content .photo {
  position: relative;
}

.promote_panel .content .photo .image_container {
  width: 260px;
  height: 218px;
  overflow: hidden;
}

.promote_panel .content .photo .promote_title {
  position: absolute;
  bottom: 14px;
  left: 16px;
  color: #FFFFFF;
}

.promote_panel .content .photo .promote_title h1 {
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1em;  
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

/* TOUCH */
/******************************************/
#view_map_btns .touch_btn {  
  margin: 0px 4px 0px 4px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }    
  #trail_overlay .overlay_content {
    width: 992px;
  }
  #trail_stats_view {
    position: absolute;
    width: 194px;
  }
  #trail_altitude_view {
    left: 194px;
    width: 570px;
  }
  #trail_mini_view {
    left: 764px;
    width: 228px;
  }
  #trail_mini_view .border_top {  
    width: 222px;
  }
  #trail_mini_view .toggle_view {
    width: 222px;
  }
  #trail_minimap_view {
    width: 228px;
  }
  #trail_minimap_view #minimap {
    width: 222px;
  }
  #trail_minislide_view {
    width: 222px;
  }
  #minislide .image_container {
    width: 222px;
  }  
  .panel_content {
    width: 968px;
  }
  .two_col_panels .left {
    width: 472px;
  }
  .two_col_panels .right {
    width: 496px;
  }  
  .trail_detail_panel {
    width: 472px;
  }
  .trail_weather_panel {
    width: 472px;
  }
  .trail_weather_panel .detail .text {
    width: 250px;
  }
  .othertrails_panel {
    width: 472px;
    height: 336px;
  }
  .trailgear_panel {
    width: 472px;
    height: 336px;
  }
  .trailgear_panel .content .gear_list .gear {
    margin: 0px 7px 0px 7px;
    width: 142px;
  }  
  .promote_panel {
    width: 220px;
    height: 282px;
  }
  .promote_panel .content h3 {
    height: 68px;
    line-height: 68px;
  }
  .promote_panel .content .photo .image_container {
    width: 220px;
    height: 174px;
  }
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}