/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1200px;
}

/* STEPS */
/******************************************/
#steps {
  position: relative;
  margin-top: 63px;
  width: 100%;
}

/* STEP WELCOME */
/******************************************/
#step_welcome_view {
  display: none;
/*  
  position: absolute;
*/  
  width: 100%; 
  height: 100%;
}

#step_welcome_view .panel_content {
  position: relative;
  margin: 0px auto 92px auto;
  width: 1112px;
}

#step_welcome_view .panel_intro {
  clear: both;
  padding-top: 56px;
  text-align: center;
}

#step_welcome_view .panel_intro .desc {
  margin: 24px auto 0px auto;
  width: 700px;
  text-align: center;
}

#step_welcome_view .panel_intro .steps {
  width: 100%;
  margin-top: 32px;
  text-align: center;  
}

#step_welcome_view .panel_intro .steps .step {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  width: 240px;
}

#step_welcome_view .panel_intro .steps .step .step_marker {
  margin: 0px auto 30px auto;
  width: 73px;
  height: 73px;
  line-height: 73px;
  font-size: 28px;
  color: #FFF;
  background: url("../img/steps/step.png") no-repeat top left;
}

#step_welcome_view .panel_intro .next_step {
  margin-top: 42px;
}

/* STEP 1 */
/******************************************/
#step1_view {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%; 
  height: 100%;
}

/* STEP 2 */
/******************************************/
#step2_view {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%; 
  height: 100%;
}

#step2_view #trail_map_view {
  position: relative;  
  width: 100%; 
  height: 100%;
}

#trail_map {
  position: absolute;
  top: 0px;
  width:100%; 
  height: 100%;
}

.leaflet-popup-content-wrapper{
  background: #FFF;
}

.leaflet-popup-tip{
  background: #FFF;
}
    
/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {  
  #appview {
    min-width: 992px;
  }
  #profile_map .leaflet-overlay {
    width: 730px;
    background-size: 730px 538px;
  }
  #profile_header .profile_title .avatar {
    margin: 38px 0px 0px 4px;  
    width: 175px;
    height: 174px;
  }
  .panel_content {
    width: 968px;
  }
  .panels .left {
    width: 472px;
  }
  .panels .right {
    width: 496px;
  }
  .profile_detail_panel {
    width: 472px;
  }
  .trailgear_panel {
    width: 472px;
    height: 296px;
  }
  .trailgear_panel .content .gear_list {
    height: 214px;
  }
  .trailgear_panel .content .gear_list .gear {
    margin: 0px 7px 0px 7px;
    width: 142px;
  }
  .tops_trails_panel {
    margin-left: 24px;
    width: 472px;
  }    
}

.image {
  display: none;  
}

img {
  max-width: none;
}
