/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
}

/* TOUR */
/******************************************/
.tour_content {
  position: relative;
  margin-top: 109px;
}

.tour_content .sticker {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: -26px;
  margin-left: -83px;
}

.tour_content .content {
  width: 1114px;
  padding-top: 164px;
  margin: 0px auto 54px auto;
  text-align: center;
  color: #979797;
}

.tour_content .desc {
  margin: 18px auto 0px auto;
  width: 572px;
}

.tour_content .panel {
  float: none;
}

.tour_content .memo {
  font-size: 22px;
  line-height: 1.3em;
  margin: 58px auto 64px auto;
  width: 614px;
  text-align: center;  
}
 
/* STEPS */
/******************************************/
#steps img {
  width: 100%;
}

#steps h4.tb {
  margin-top: 24px;	
}

#steps .animate div {
  -webkit-transition: 0.5s ease-out; 
  -moz-transition: 0.5s ease-out; 
  -o-transition: 0.5s ease-out;	
}

#steps .image_container {
  opacity: 0;
}

#step1 {
  position: relative;
  margin-top: 82px;
  height: 372px;
  width: 100%;
}

#step1_left {
  position: absolute;
  padding-top: 42px;
  top: 0px;
  left: 84px;
  width: 304px;
  text-align: right;
}

#step1 .step1_left_init, #step1_left.outViewPort {
  left: -304px;
}

#step1_right {
  position: absolute;
  top: 0px;
  width: 590px;
  height: 372px;
  right: 60px;
}

#step1 .step1_right_init, #step1_right.outViewPort {
  right: -590px;
}

#step2 {
  position: relative;
  margin-top: 42px;
  height: 380px;
  width: 100%;
}

#step2_left {
  position: absolute;
  top: 0px;
  left: 42px;
  width: 614px;
  height: 380px;
}

#step2_left.outViewPort {
  left: -614px;
}

#step2_right {
  position: absolute;
  padding-top: 70px;
  top: 0px;
  right: 80px;
  width: 372px;
  text-align: left;
}

#step2_right.outViewPort {
  right: -372px;
}

#step3 {
  position: relative;
  margin-top: 0px;
  height: 767px;
  width: 100%;
}

#step3_left {
  position: absolute;
  padding-top: 48px;
  top: 0px;
  left: 202px;
  width: 350px;
  text-align: right;
}

#step3_left.outViewPort {
  left: -350px;
}

#step3_middle {
  position: absolute;
  padding-top: 218px;
  top: 0px;
  left: 118px;
  width: 894px;
  height: 548px;
}

#step3_middle.outViewPort {
  left: -894px;
}

#step3_right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 464px;
  height: 582px;
  right: 76px; 
}

#step3_right.outViewPort {
  right: -464px;
}

#step4 {
  position: relative;
  margin-top: 12px;
  height: 838px;
  width: 100%;
}

#step4_left {
  position: absolute;
  top: 0px;
  left: 94px;
  width: 446px;
  height: 454px;
}

#step4_left.outViewPort {
  left: -446px;
}

#step4_middle {
  position: absolute;
  padding-top: 284px;  
  left: 120px;
  width: 880px;
  height: 554px;
}

#step4_1_right {
  position: absolute;
  padding-top: 62px;
  top: 0px;
  right: 292px; 
  width: 256px;
  text-align: left;
}

#step4_1_right.outViewPort {
  right: -256px;
}

#step4_2_right {
  position: absolute;
  padding-top: 254px;  
  top: 0px;
  right: 140px;
  width: 186px;
  height: 186px;
}

#step4_2_right.outViewPort {
  right: -140px;
}

#step5 {
  position: relative;
  margin-top: 50px;
  height: 444px;
  width: 100%;
}

#step5_left {
  position: absolute;
  top: 0px;
  left: 192px;
  width: 338px;
  height: 444px;
}

#step5_left.outViewPort {
  left: -338px;
}

#step5_right {
  position: absolute;
  padding-top: 52px;
  top: 0px;
  right: 168px;
  width: 388px;
  text-align: left;
}

#step5_right.outViewPort {
  right: -388px;
}

#step5 .maketrails {
  margin-top: 32px;
}

/* RESPONSIVE */
/******************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {
  #steps img {
    width: 87%;
  }	
  .tour_content .content {
    width: 968px;
  }
  #step1 {
    margin-top: 71px;
    height: 324px;
  }
  #step1_left {
    padding-top: 37px;
    left: 73px;
    width: 264px;
  }
  #step1 .step1_left_init, #step1_left.outViewPort {
    left: -264px;
  }
  #step1_right {
    width: 513px;
    height: 324px;
    right: 52px;
  }
  #step1 .step1_right_init, #step1_right.outViewPort {
    right: -513px;
  }
  
  #step2 {
    margin-top: 37px;
    height: 331px;
  }
  #step2_left {
    left: 37px;
    width: 534px;
    height: 331px;
  }
  #step2_left.outViewPort {
    left: -534px;
  }
  #step2_right {
    padding-top: 61px;
    right: 70px;
    width: 324px;
  }
  #step2_right.outViewPort {
    right: -324px;
  }
  #step3 {
    height: 667px;
  }
  #step3_left {
    padding-top: 42px;
    left: 176px;
    width: 305px;
  }
  #step3_left.outViewPort {
    left: -305px;
  }
  #step3_middle {
    padding-top: 190px;
    left: 103px;
    width: 778px;
    height: 477px;
  }
  #step3_middle.outViewPort {
    left: -778px;
  }
  #step3_right {
    width: 404px;
    height: 506px;
    right: 66px; 
  }
  #step3_right.outViewPort {
    right: -404px;
  }
  #step4 {
    margin-top: 10px;
    height: 729px;
  }
  #step4_left {
    left: 82px;
    width: 388px;
    height: 395px;
  }
  #step4_left.outViewPort {
    left: -388px;
  }
  #step4_middle {
    padding-top: 245px;  
    left: 104px;
    width: 766px;
    height: 482px;
  }
  #step4_1_right {
    padding-top: 54px;
    right: 254px; 
    width: 223px;
  }
  #step4_1_right.outViewPort {
    right: -223px;
  }
  #step4_2_right {
    padding-top: 221px;  
    right: 122px;
    width: 162px;
    height: 162px;
  }
  #step4_2_right.outViewPort {
    right: -122px;
  }
  #step5 {
    margin-top: 44px;
    height: 386px;
  }
  #step5_left {
    left: 167px;
    width: 294px;
    height: 386px;
  }
  #step5_left.outViewPort {
    left: -294px;
  }
  #step5_right {
    padding-top: 45px;
    right: 146px;
    width: 338px;
  }
  #step5_right.outViewPort {
    right: -338px;
  }
  #step5 .maketrails {
    margin-top: 28px;
  }
}

/* Small devices (tablets, 768px) */
@media (max-width: 768px) {  
}
