.btn-tb {
  font-family: 'Signika', sans-serif;
  font-size: 24px;  
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ED1C24;
  *background-color: #ED1C24;
  background-image: -moz-linear-gradient(top, #ff514c, #ED1C24);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff514c), to(#ED1C24));
  background-image: -webkit-linear-gradient(top, #ff514c, #ED1C24);
  background-image: -o-linear-gradient(top, #ff514c, #ED1C24);
  background-image: linear-gradient(to bottom, #ff514c, #ED1C24);
  background-repeat: repeat-x;
  border-color: #ED1C24;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff514c', endColorstr='#ED1C24', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-tb:hover,
.btn-tb:active,
.btn-tb.active,
.btn-tb.disabled,
.btn-tb[disabled] {
  color: #FFFFFF;
  background-color: #ED1C24;
  *background-color: #003bb3;
}

.panel {
  overflow: hidden;
  background-color: #FFF;
  border: none;
  *zoom: 1;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);  
}

.trans-line {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;
  background: url(../img/trans_line.png) repeat-x top left;  
}
