body {  
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3em;
  color: #444444;    
}

/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1024px;
}

#appview .panel {
  float: left;
  margin: 0px 10px 10px 10px;
}

/* HEADER */
/******************************************/
#headerview {
/*  
border-style:solid;
border-width:1px;
*/  
  width: 100%;
  height: 88px;  
  background: #FFF;
}

#headerview .left {
  float: left;
  margin: 10px 0px 0px 72px;
}

#headerview .right {
  float: right;
  margin: 25px 48px 0px 0px;
}

#headerview .right .discover {
  float: left;
  margin: 10px 19px 0px 0px;
}

#headerview .right .discover input[type="text"] {
  background-color: #F0F0F0;
}

#headerview .right .links {
  float: left;
  margin-top: 8px;
  line-height: 36px;
}

#headerview .right .link {
  float: left;
  margin: 0px 19px 0px 19px;
  color: #44b6f7;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#headerview .right .link a, 
#headerview .right .link a:link, 
#headerview .right .link a:visited {
  color: #44b6f7;
  text-decoration: none;
}

#headerview .right .link a:hover, 
#headerview .right .link a:active {
  color: #ed1c24;
  text-decoration: none;    
}

#headerview .right .signin {  
  float: left;
  margin-left: 19px;
}

/* FOOTER */
/******************************************/
#footerview {
/*  
border-style:solid;
border-width:1px;
*/  
  width: 100%;
  height: 120px;  
  background: #000;
}

#footerview .left {
  float: left;
  margin: 30px 0px 0px 56px;
}

#footerview .left .copyright {
  font-size: 14px;
  line-height: 1em;
  color: #979797;
}

#footerview .left .links {
  margin-top: 22px;
}

#footerview .left .link {
  float: left;
  margin-right: 34px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;  
  color: #979797;
  text-transform: uppercase;
}

#footerview .left .link a, 
#footerview .left .link a:link, 
#footerview .left .link a:visited {
  color: #979797;
  text-decoration: none;
}

#footerview .left .link a:hover, 
#footerview .left .link a:active {
  color: #ed1c24;
  text-decoration: none;    
}

#footerview .right {
  float: right;
  margin: 32px 48px 0px 0px;
}

#footerview .right .social {
  float: left;
  margin: 0px 10px 0px 10px;
}

#footerview a.button {
  float:left; 
  display:block;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:72px;
  height:64px;
}

#footerview a.button:hover {
  background-position: 0 -64px;
}

#footerview .btnEmail {
  background: url("../img/footer/btn_email.png") no-repeat top left;
}

#footerview .btnFacebook {
  background: url("../img/footer/btn_facebook.png") no-repeat top left;
}

#footerview .btnTwitter {
  background: url("../img/footer/btn_twitter.png") no-repeat top left;
}

#footerview .btnGooglePlus {
  background: url("../img/footer/btn_googleplus.png") no-repeat top left;
}

/* TRAIL PLAYER */
/******************************************/
#trailplayer {
  position: relative;
  width: 100%;
  height: 712px;
  overflow: overflow;
}

#trailplayer .left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 328px;
  height: 100%;
  background: #F0F0F0;
  background: #F0F0F0 url(../img/trailplayer/detail_back.gif) repeat-y top right;  
}

#trailplayer .trailprofile {
  height: 410px;  
  margin: 26px 54px 0px 54px;
  font-weight: 300;
  overflow: hidden;
}

#trailplayer .trailprofile .avatar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 113px;
}

#trailplayer .trailprofile .title {
  margin-top: 32px;
  text-align: center;
  font-size: 24px;
  color: #44b6f7;
}

#trailplayer .trailprofile .text {
  margin-top: 16px;
  text-align: justify;
}

#trailplayer .trailprofile .title strong {  
  font-weight: 700;
}

#trailplayer .trailmap {
  width: 318px;
  height: 234px;
}

#trailplayer .trailmap #map {
  width:100%; 
  height:100%;
  background-color: transparent; 
}

#trailplayer .right {
  position: absolute;
  top: 0px;
  left: 328px;
}

#trailplayer .right .image_container {
  width: 600px;
  height: 712px;
  overflow: hidden;
}

#trailplayer .right .trail_title {
  position: absolute;
  top: 20px;
  left: 38px;
  color: #44b6f7;
}

#trailplayer .right .trail_title .title1 {
  display: block;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-size: 56px;
  line-height: 1em;  
  background: #FFF;
}

#trailplayer .right .trail_title .title2 {
  display: inline-block;
  margin: 13px 0px 0px 0px;
  padding: 5px 10px 5px 10px;  
  font-weight: normal;
  font-size: 56px;
  line-height: 1em;
  background: #FFF;
}

/* BIG BAR */
/******************************************/
#bigbar {
  width: 100%;
  height: 60px;
  background: #000;  
}

/* PANELS */
/******************************************/
.panels {
  position: relative;  
}

.trailnotes_panel {
  width: 300px;
  height: 364px;
}

.trailaltitude_panel {
  padding: 5px;
  width: 850px;
  height: 370px;
}

.trailaltitude_panel .profile {
  position: absolute;
}

.trailaltitude_panel .profile .marker {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;  
  width: 23px;
  height: 24px;
  background: url(../icons/marker_profile_inactive.png) no-repeat top left;
}

#graph {
  position: relative;
  top: 0px;
  left: 0px;
}

.othertrails_panel {
  padding: 5px;
  width: 510px;
  height: 370px;
}

.trailgear_panel {
  padding: 5px;
  width: 930px;
  height: 370px;  
}

/* Large desktop */
@media (min-width: 1200px) {
  .trailaltitude_panel {
    width: 850px;
  }  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .trailaltitude_panel {
    width: 710px;
  }  
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .trailaltitude_panel {
    width: 610px;
  }  
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .trailaltitude_panel {
    width: 450px;
  }  
}

.image {
  display: none;  
}

img {
  max-width: none;
}

