{% if trail.rating > 0 %}

<div class="stars">
  {% if trail.rating > 0 %}
    <span class="star_full"></span>
  {% else %}
{#
	<span class="star"></span>
#}  
  {% endif %}

  {% if trail.rating >= 2 %}
    <span class="star_full"></span>
  {% elseif trail.rating >= 1.5 %}
    <span class="star_half"></span>
  {% else %}
{#
	<span class="star"></span>
#}  
  {% endif %}

  {% if trail.rating >= 3 %}
    <span class="star_full"></span>
  {% elseif trail.rating >= 2.5 %}
    <span class="star_half"></span>
  {% else %}
{#
	<span class="star"></span>
#}  
  {% endif %}

  {% if trail.rating >= 4 %}
    <span class="star_full"></span>
  {% elseif trail.rating >= 3.5 %}
    <span class="star_half"></span>
  {% else %}
{#
	<span class="star"></span>
#}  
  {% endif %}

  {% if trail.rating >= 5 %}
    <span class="star_full"></span>
  {% elseif trail.rating >= 4.5 %}
    <span class="star_half"></span>
  {% else %}
{#
	<span class="star"></span>
#}  
  {% endif %}
</div>

{% endif %}
