{% if trails %}

<div class="tb-avatar"><div class="photo"><img src="{{ asset('assets/img/avatar_man.jpg') }}"></div></div>

    <h2 class="tb tb-title">Trailburners you follow</h2>
    <div class="desc"><h4 class="tb">The latest trails from the people you follow</h4></div>
    
	<div class="trailcards ">  	
	    {% for trail in trails %}
	        {{ include('TBFrontendBundle:Trail:_trailcard.html.twig', {'trail': trail}) }}
	    {% endfor %}  	
	</div>	                
{% endif %}