<div class="trailcards ">  	
{#
  <div class="trail_card_sticker">	  		
      <div class="panel editorial_card_panel">
        <div class="detail_container">
        <div class="title">
        	<div class="tb"><img src="{{ asset('assets/img/sponsor/tb.png') }}" border="0"></div>
        	<div class="sponsor"><a href="profile/ashmei"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_small.png" border="0"></a></div>
        </div>
        <a href="inspire/alps">
        <div class="detail"><h3 class="tb">Running wild in the South Australian bush</h3></div>
        </a>
        </div>
        <div class="summary">
    	  <div class="tb-avatar">
      		<div class="photo"><a href="profile/mattallbeury"><img src="http://www.gravatar.com/avatar/e426b949d824bc81fe01caf1ad88abd7"></a></div>
    	  </div>		    	
          <div class="detail">
            by <strong>Matt Allbeury</strong>
            <div class="date">08/04/2014</div>
          </div>
        </div>
      </div>                    	    	
  </div>	  		
#}	
	
    {% for trail in trails %}
        {{ include('TBFrontendBundle:Trail:_trailcardSticker.html.twig', {'trail': trail}) }}
    {% endfor %}  	
</div>	
            