{% extends '::base.html.twig' %}

{% block title %}Discover Trails{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/trails.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'TrailsApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

<div class="trails_content">
	<div class="content">	
  		<h2 class="tb tb-title">Explore Trails</h2>
  		<div class="desc"><h4 class="tb">Discover the latest trails from the Trailburning community</h4></div>      

  		<div class="panels trailcards clearfix">
  			<div id="trailCards"></div>
  		</div>
  		<div class="nav">       
    		<div class="more_btn"><a href="javascript:void(0)" class="btn btn-tb btn-tb-small">More Trails</a></div>	  
    		<div class="tb-loader"><div class="spinner"></div><div class="middle">...</div></div>
  		</div>	    		
	</div>
	
	<div id="view_btns">
		<div id="view_toggle"><a href="{{ app.request.baseUrl }}/map/trails"><div class="tb-cntrl icon-map"></div></a></div>
	</div>  	
</div>

{% endblock %}


{% block javascripts %}

<script type="text/template" id="trailsTrailCardViewTemplate">
    <div class="title"><h3 class="tb"><%= category.name %></h3></div>
    <a href="trail/<%= slug %>">
    <div class="photo tb-photo-btn">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com<%= versionLargePath %>" class="resrc scale" border="0"/></div>
      <div class="card_title">
        <h1><%= name %></h1>
        <br/>
        <h2><%= region %></h2>
		<br/>
		<h2>
        <span class="stars">
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
        </span>
		</h2>
      </div>
    </div>
    </a>
	<div class="card_avatar">
      <div class="tb-avatar"><div class="photo"><a href="profile/<%= user.name %>"><img src="<%= user.avatar %>"></a></div></div>
	</div>	        
    <div class="summary">
	  <div class="length"><%= length_km %> km</div>
	  <div class="altitude">
	  <%= ascent_m %> D+
	  <br/>
	  <%= descent_m %> D-
	  </div>
    </div>
</script>

<script type="text/template" id="trailsTrailEventCardViewTemplate">
    <div class="title"><h3 class="tb"><%= category.name %></h3></div>
    <a href="trail/<%= slug %>">
    <div class="photo tb-photo-btn">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com<%= versionLargePath %>" class="resrc scale" border="0"/></div>
      <div class="card_title">
        <h1><%= name %></h1>
        <br/>
        <h2><%= region %></h2>
      </div>
    </div>
    </a>
	<div class="card_avatar">
      <a href="events/<%= eventURL %>"><img src="http://assets.trailburning.com/images/events/<%= eventURL %>/card_trail_sticker_logo.png"></a>
    </div>
    <div class="summary">
	  <div class="length"><%= length_km %> km</div>
	  <div class="altitude">
	  <%= ascent_m %> D+
	  <br/>
	  <%= descent_m %> D-
	  </div>
    </div>
</script>

{% endblock %}