<div id="profile_header">
	<div id='profile_map_view'></div>  
	<div class="profile_info">		
    	<div class="tb-avatar tb-avatar-feature"><div class="photo">
            <img src="{{ get_user_avatar_url(user) }}">
        </div></div>		    	
		<div class="profile_title">
	    <h2 class="tb tb-title">{{ user.firstName }}</h2>
	    <br/>
        <h2 class="tb tb-title">{{ user.lastName }}</h2>
        <br/>
<!--        
        <div class="follow"><a href="" target="_blank" class="btn btn-tb-action btn-tb-large">Follow</a></div>
-->        
        </div>      
	</div>
</div>	