{# Display a user avatar and that links to the users profile #}
{% if class is not defined  %}
    {% set class = '' %}
{% endif %}
<div class="tb-avatar {{ class }}">
    <div class="photo">
        <a href="{{ path('profile', {'name': user.name}) }}">		          	
            <img src="{{ get_user_avatar_url(user) }}">
        </a>
    </div>
</div>