
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Trailburning About"/>
        <meta property="og:url" content="http://localhost:8888/trailburning/app_dev.php/about"/>
        <meta property="og:image" content="http://beta.trailburning.com/assets/img/social/tb_profile_icon.png"/>
        <meta name="p:domain_verify" content="256bd9708ee58af0b0c1e324e5467bf1"/>
                <title>Trailburning About</title>
        <link rel="icon" type="image/x-icon" href="/trailburning/favicon.ico" />
        <link href="http://fonts.googleapis.com/css?family=Signika:400,300,700" rel="stylesheet">
        <link href="http://api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css" rel="stylesheet">
        <link href="/trailburning/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/trailburning/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/trailburning/assets/css/bootstrap-select.min.css" rel="stylesheet">
        
        <link href="/trailburning/assets/css/common_ui.css" rel="stylesheet" type="text/css">
        <link href="/trailburning/assets/css/cards.css" rel="stylesheet" type="text/css">
        <link href="/trailburning/assets/css/static.css" rel="stylesheet" type="text/css">
<link href="/trailburning/assets/css/about.css" rel="stylesheet" type="text/css">
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-45211566-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            function trackOutboundLink(link, category, action) { 
              try { _gaq.push(['_trackEvent', category , action]); } catch(err){}   
              setTimeout(function() {window.open(link.href, '_blank');}, 100);
            }
            var TB_RESTAPI_BASEURL = 'http://localhost:8888/trailburning_api/app_dev.php';
                    </script>
    </head>
    <body>
        <div id="appview">      
            <div id="headerview">
                <div class="left">
                    <a href="/trailburning/app_dev.php/"><img src="/trailburning/assets/img/header/tb_logo.gif" width="102" height="46" border="0"></a>
                </div>    
                
			    <div class="right navbar">
                				      		<div class="signin">
			      			<div class="links">
			      				<div class="link main"><a href="/trailburning/app_dev.php/login">Sign in</a></div> 
			      			</div>
			      			
			      			<a href="/trailburning/app_dev.php/register/" class="btn btn-tb-action btn-tb-large">Join</a>	
			      		</div>
			    				      
			      	<div class="links">
						<div class="link main"><a href="/trailburning/app_dev.php/tour">Discover Trailburning</a></div>			      	
						<div class="link main"><a href="/trailburning/app_dev.php/inspire">Inspire</a></div>			      	
			      	</div>
			      	<div class="discover">
			<!--      	
			        <form id="search_form">
			        <input type="text" id="search_field" name="discover">
			        <input type="submit" class="search-btn">        
			        </form>
			-->        
			    	</div>
			    </div>    
                
                <div class="trans-line"></div>        
            </div>    

			<div id="bodyview">
            <script>
var TB_APP = 'BaseApp';
</script>

  <div id="def_header">  
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/pages/lost.jpg" class="resrc scale" /></div>
    <div class="event_title">
      <h1 class="tb tb-title">Oops! You must be lost.</h1>
      <br/>
      <h1 class="tb tb-title">Please check your</h1>
      <br/>
      <h1 class="tb tb-title">GPS device.</h1>
    </div>
    <div class="tb-credit">Photo credit: © <a href="/trailburning/app_dev.php/profile/christianraimann">Christian Raimann</a></div>      
  </div>    
    
  <div class="panel_content">          
    <div id="bigbar">
      <div class="crumbs">
    <div class="crumb_lead"><a href="/trailburning/app_dev.php/">Home</a></div>
        <div class="crumb_links">
                    <a href="/trailburning/app_dev.php/about">Discover Trailburning</a>
                        </div>
    </div>
              
<div class="compact_share btn-group dropup">
  <a class="btn btn-primary btn-tb-action btn-tb dropdown-toggle" data-toggle="dropdown" href="#">Share <span class="caret"></span></a>
  <ul class="dropdown-menu pull-right">
	<li class="clearfix"><a href="http://www.facebook.com/share.php?u=localhost%3A8888%2Ftrailburning%2Fapp_dev.php%2Fabout" target="_blank" class="clearfix"><div class="logo"><img src="/trailburning/assets/icons/share/share_facebook.png"></div><div class="detail">Facebook</div></a></li>
	<li class="clearfix"><a href="https://plus.google.com/share?url=localhost%3A8888%2Ftrailburning%2Fapp_dev.php%2Fabout" target="_blank" class="clearfix"><div class="logo"><img src="/trailburning/assets/icons/share/share_googleplus.png"></div><div class="detail">Google+</div></a></li>
	<li class="clearfix"><a href="http://twitter.com/share?text=Are+you+trailburning%3F&url=localhost%3A8888%2Ftrailburning%2Fapp_dev.php%2Fabout" target="_blank" class="clearfix"><div class="logo"><img src="/trailburning/assets/icons/share/share_twitter.png"></div><div class="detail">Twitter</div></a></li>
  </ul>
</div>                    

    </div>
    
    <div class="panel_intro">
      <div class="desc">
        <h3 class="tb">404 Page Not Found</h3>
        <h4 class="tb">
        The page you requested could not be found, it may have been moved or deleted.  Be sure to check the url.
        </h4>
        <div class="feature_btn"><a href="/trailburning/app_dev.php/trails" class="btn btn-tb-action btn-tb-mega">Discover Trails</a></div>
      </div>      
    </div>
  </div>
  
  <div class="footer_promote">
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/pages/MarioColonel_Ultraks2.jpg" class="resrc scale" /></div>
    <div class="promote_title">
      <h1 class="tb tb-title">Make and Share Trails</h1>
	          <div class="desc">Become a part of the Trailburning community</div>              
  	    <div class="signin"><a href="/trailburning/app_dev.php/register" class="btn btn-tb-action btn-tb-mega">Join</a></div>
	              
    </div>      
    <div class="tb-credit">Photo credit: © <a href="http://matterhorn.ultraks.com" target="_blank">matterhorn.ultraks.com</a> / Mario Colonel</div>    
  </div>
  	
            </div>

            <div id="footerview">
                <div class="left">
                  <div class="copyright">Copyright © 2014, Augmented Media Projects Ltd</div>    
                  <div class="links">
                    <div class="link"><a href="/trailburning/app_dev.php/about">About</a></div>
                    <div class="link"><a href="/trailburning/app_dev.php/presskit">Press Kit</a></div>
                  </div>
                </div>
                <div class="right">
                    <div class="social email"><a href="mailto:hello@trailburning.com" class="button btnEmail">Email</a></div>
                    <div class="social facebook"><a href="http://www.facebook.com/trailburning" target="_blank" class="button btnFacebook">Facebook</a></div>
                    <div class="social twitter"><a href="http://www.twitter.com/trailburning" target="_blank" class="button btnTwitter">Twitter</a></div>
                    <div class="social googleplus"><a href="https://plus.google.com/+Trailburning/posts" target="_blank" class="button btnGooglePlus">Google+</a></div>          
                    <div class="social pinterest"><a href="https://www.pinterest.com/trailburning/" target="_blank" class="button btnPinterest">Pinterest</a></div>          
                </div>
            </div>     
        </div>      

		<script type="text/template" id="activityFeedViewTemplate">
		</script>

		<script type="text/template" id="activityFeedItemViewTemplate">
    	  <a href="/trailburning/app_dev.php<%=  activityURL%>">            	
	 	  <div class="tb-avatar"><div class="photo"><img src="<%= actorAvatarURL%>"></div></div>	
    	  <div class="note"><span class="seen <%= displaySeen%>"></span><span class="time"><%= displayPublished%></span><br/><strong> <%= actorDisplayName%></strong> <%= preVerbDisplayName%> <strong><%= verbDisplayName%></strong> <%= subjectDisplayName%>.</div>
    	  </a>
		</script>

        <script>
        resrc = {
          options: {
            server: "app.resrc.it",
            resrcOnLoad: true,
            resrcOnResize: true,
            resrcOnPinch: false    
          }
        };
        </script>
		<script src="//use.resrc.it"></script>

        <script src="/trailburning/assets/js/libs/jquery-1.8.3.min.js"></script>
        <script src="/trailburning/assets/js/libs/bootstrap.min.js"></script>
        <script src="/trailburning/assets/js/libs/bootstrap-filestyle.min.js"> </script>
        <script src="/trailburning/assets/js/libs/bootstrap-select.min.js"></script>

        <script src='http://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>

        <script src="/trailburning/assets/js/libs/imagesloaded.pkgd.min.js"></script>
        <script src="/trailburning/assets/js/libs/image-scale.min.js"></script>

        <script src="/trailburning/assets/js/libs/jquery-dateFormat.min.js"></script>

        

        <script data-main="/trailburning/assets/js/main" src="/trailburning/assets/js/libs/require.js"></script>        
    
<div id="sfwdtc048aa" class="sf-toolbar" style="display: none"></div><script>/*<![CDATA[*/    Sfjs = (function() {        "use strict";        var noop = function() {},            profilerStorageKey = 'sf2/profiler/',            request = function(url, onSuccess, onError, payload, options) {                var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');                options = options || {};                xhr.open(options.method || 'GET', url, true);                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');                xhr.onreadystatechange = function(state) {                    if (4 === xhr.readyState && 200 === xhr.status) {                        (onSuccess || noop)(xhr);                    } else if (4 === xhr.readyState && xhr.status != 200) {                        (onError || noop)(xhr);                    }                };                xhr.send(payload || '');            },            hasClass = function(el, klass) {                return el.className.match(new RegExp('\\b' + klass + '\\b'));            },            removeClass = function(el, klass) {                el.className = el.className.replace(new RegExp('\\b' + klass + '\\b'), ' ');            },            addClass = function(el, klass) {                if (!hasClass(el, klass)) { el.className += " " + klass; }            },            getPreference = function(name) {                if (!window.localStorage) {                    return null;                }                return localStorage.getItem(profilerStorageKey + name);            },            setPreference = function(name, value) {                if (!window.localStorage) {                    return null;                }                localStorage.setItem(profilerStorageKey + name, value);            };        return {            hasClass: hasClass,            removeClass: removeClass,            addClass: addClass,            getPreference: getPreference,            setPreference: setPreference,            request: request,            load: function(selector, url, onSuccess, onError, options) {                var el = document.getElementById(selector);                if (el && el.getAttribute('data-sfurl') !== url) {                    request(                        url,                        function(xhr) {                            el.innerHTML = xhr.responseText;                            el.setAttribute('data-sfurl', url);                            removeClass(el, 'loading');                            (onSuccess || noop)(xhr, el);                        },                        function(xhr) { (onError || noop)(xhr, el); },                        options                    );                }                return this;            },            toggle: function(selector, elOn, elOff) {                var i,                    style,                    tmp = elOn.style.display,                    el = document.getElementById(selector);                elOn.style.display = elOff.style.display;                elOff.style.display = tmp;                if (el) {                    el.style.display = 'none' === tmp ? 'none' : 'block';                }                return this;            }        }    })();/*]]>*/</script><script>/*<![CDATA[*/    (function () {                Sfjs.load(            'sfwdtc048aa',            '/trailburning/app_dev.php/_wdt/c048aa',            function(xhr, el) {                el.style.display = -1 !== xhr.responseText.indexOf('sf-toolbarreset') ? 'block' : 'none';                if (el.style.display == 'none') {                    return;                }                if (Sfjs.getPreference('toolbar/displayState') == 'none') {                    document.getElementById('sfToolbarMainContent-c048aa').style.display = 'none';                    document.getElementById('sfToolbarClearer-c048aa').style.display = 'none';                    document.getElementById('sfMiniToolbar-c048aa').style.display = 'block';                } else {                    document.getElementById('sfToolbarMainContent-c048aa').style.display = 'block';                    document.getElementById('sfToolbarClearer-c048aa').style.display = 'block';                    document.getElementById('sfMiniToolbar-c048aa').style.display = 'none';                }            },            function(xhr) {                if (xhr.status !== 0) {                    confirm('An error occurred while loading the web debug toolbar (' + xhr.status + ': ' + xhr.statusText + ').\n\nDo you want to open the profiler?') && (window.location = '/trailburning/app_dev.php/_profiler/c048aa');                }            }        );    })();/*]]>*/</script>
</body>
</html>
