body {  
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3em;
  color: #444444;    
}

form {
  margin: 0px;
  padding: 0px;
  display: inline;  
}

/* APP */
/******************************************/
#appview {
/*  
border-style:solid;
border-width:1px;
*/  
  min-width: 1292px;
}

/* HEADER */
/******************************************/
#headerview {
/*  
border-style:solid;
border-width:1px;
*/  
  width: 100%;
  height: 88px;  
  background: #FFF;
}

#headerview .left {
  float: left;
  margin: 10px 0px 0px 72px;
}

#headerview .right {
  float: right;
  margin: 25px 48px 0px 0px;
}

#headerview .right .discover {
  float: left;
  margin: 10px 10px 0px 0px;
}

#headerview .right .discover .search-btn {
  margin: 0;
  padding: 0;  
  width: 18px;
  height: 18px;
  border: none;
  font-size: 0;
  background: url("../img/header/search.gif") no-repeat top left;  
}

#headerview .right .discover input[type="text"] {
  margin: 0px 6px 0px 0px;
  background-color: #F0F0F0;
}

#headerview .right .links {
  float: left;
  margin-top: 8px;
  line-height: 36px;
}

#headerview .right .link {
  float: left;
  margin: 0px 19px 0px 19px;
  color: #44b6f7;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#headerview .right .link a, 
#headerview .right .link a:link, 
#headerview .right .link a:visited {
  color: #44b6f7;
  text-decoration: none;
}

#headerview .right .link a:hover, 
#headerview .right .link a:active {
  color: #979797;
  text-decoration: none;    
}

#headerview .right .signin {  
  float: left;
  margin-left: 19px;
}

#headerview .right .signin .btn {  
  font-size: 24px;
}

/* FOOTER */
/******************************************/
#footerview {
/*  
border-style:solid;
border-width:1px;
*/  
  width: 100%;
  height: 120px;  
  background: #000;
}

#footerview .left {
  float: left;
  margin: 30px 0px 0px 56px;
}

#footerview .left .copyright {
  font-size: 14px;
  line-height: 1em;
  color: #979797;
}

#footerview .left .links {
  margin-top: 22px;
}

#footerview .left .link {
  float: left;
  margin-right: 34px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;  
  color: #979797;
  text-transform: uppercase;
}

#footerview .left .link a, 
#footerview .left .link a:link, 
#footerview .left .link a:visited {
  color: #979797;
  text-decoration: none;
}

#footerview .left .link a:hover, 
#footerview .left .link a:active {
  color: #FFFFFF;
  text-decoration: none;    
}

#footerview .right {
  float: right;
  margin: 32px 48px 0px 0px;
}

#footerview .right .social {
  float: left;
  margin: 0px 10px 0px 10px;
}

#footerview a.button {
  float:left; 
  display:block;
  line-height:20px; 
  text-indent: -10000px;  
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;   
  text-decoration: none;
  width:72px;
  height:64px;
}

#footerview a.button:hover {
  background-position: 0 -64px;
}

#footerview .btnEmail {
  background: url("../img/footer/btn_email.png") no-repeat top left;
}

#footerview .btnFacebook {
  background: url("../img/footer/btn_facebook.png") no-repeat top left;
}

#footerview .btnTwitter {
  background: url("../img/footer/btn_twitter.png") no-repeat top left;
}

#footerview .btnGooglePlus {
  background: url("../img/footer/btn_googleplus.png") no-repeat top left;
}

/* TRAIL PLAYER */
/******************************************/
#trailplayer {
  position: relative;
  width: 100%;
  height: 538px;
  overflow: overflow;
}

#trailplayer .left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 328px;
  height: 100%;
  background: #F0F0F0;
  background: #F0F0F0 url(../img/trailplayer/detail_back.gif) repeat-y top right;  
}

#trailplayer .trailprofile {
  height: 293px;  
  margin: 18px 54px 0px 54px;
  font-weight: 300;
  overflow: hidden;
}

#trailplayer .trailprofile .avatar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 113px;
}

#trailplayer .trailprofile .avatar img {
  width: 61px;
  height: 60;
}

#trailplayer .trailprofile .title {
  margin-top: 22px;
  text-align: center;
  font-size: 22px;
  color: #44b6f7;
}

#trailplayer .trailprofile .text {
  margin-top: 16px;
  height: 162px;
  font-size: 15px;
  text-align: justify;
  overflow: hidden;
}

#trailplayer .trailprofile .title strong {  
  font-weight: 700;
}


/* TRAIL MINI VIEWS */
/******************************************/
#trailplayer #trail_miniviews {
  position: relative;
}

/* TRAIL MINI MAP */
/******************************************/
#trailplayer .trail_minimap {
  position: absolute;
  top: 0px;
  left: 0px;
}

#trailplayer .trail_minimap #minimap {
  width: 318px;
  height: 165px;
  background-color: transparent; 
}

#trailplayer .trail_minimap .trailview_toggle {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#trailplayer .trail_minimap .trailview_toggle .btn {
  padding: 6px 40px;
  font-size: 22px;  
}

/* TRAIL MINI SLIDE */
/******************************************/
#trailplayer .trail_minislide {
  position: absolute;
  top: 0px;
  left: 0px;  
}

#trailplayer .trail_minislide #minislide {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 318px;
  height: 155px;
}

#trailplayer .trail_minislide .trailview_toggle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#trailplayer .trail_minislide .trailview_toggle .btn {
  padding: 6px 40px;
  font-size: 22px;  
}

#trailplayer .right {
  position: absolute;
  top: 0px;
  left: 328px;
}

#trailplayer #trail_views {
  position: relative;
  width: 100%;
  height: 538px;  
}

/* TRAIL SLIDE VIEW */
/******************************************/
#trail_slide_view {
}

#trail_slide_view .image_container {
  width: 100%;
  height: 538px;  
  overflow: hidden;
}

/* TRAIL MAP VIEW */
/******************************************/
#trail_map_view {
}

#trail_map_view .map_container {
  position: relative;
  width: 100%;
  height: 538px;
  overflow: hidden;
}

#trail_map_view #map_large {
  width: 100%;
  height: 100%;
}

#trail_map_view .controls {
  position: absolute;
  bottom: 25px;
  right: 40px;
}

#trail_map_view .controls .view_btn {
  margin-left: 14px;
}

#trail_map_view .controls .zoomout_btn {
  margin-left: 4px;
}

/* TRAIL TITLE */
/******************************************/
#trailplayer .right .trail_title {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 600px;
  color: #44b6f7;
}

#trailplayer .right .trail_title h1 {
  display: inline-block;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-size: 56px;
  line-height: 1em;  
  background-color: #FFF;
}

#trailplayer .right .trail_title h2 {
  display: inline-block;
  margin: 13px 0px 0px 0px;
  padding: 5px 10px 5px 10px;  
  font-weight: normal;
  font-size: 56px;
  line-height: 1em;
  background-color: #FFF;
}

/* BIG BAR */
/******************************************/
#bigbar {
  width: 100%;
  height: 60px;
  background: #000;  
}

#bigbar .crumb_lead {
  float: left;
  margin: 16px 0px 0px 58px;
  width: 20px;
  height: 25px;
  background: url("../img/crumb_lead.gif") no-repeat top left;    
}

#bigbar .crumbs {
  float: left;
  margin: 0px 0px 0px 18px;
  font-size: 22px;
  line-height: 58px;
  color: #7C7C7C;
}

#bigbar .crumbs a, 
#bigbar .crumbs a:link, 
#bigbar .crumbs a:visited {
  color: #7C7C7C;
  text-decoration: none;
}

#bigbar .crumbs a:hover, 
#bigbar .crumbs a:active {
  color: #FFFFFF;
  text-decoration: none;    
}

#bigbar .share {
  float: right;
  margin-right: 25px;
  line-height: 58px;
}

/* PANELS */
/******************************************/
.panelcontent {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
}

.panels {
  padding-top: 46px;
  margin: 0px auto 0px auto;
  width: 1294px;
}

/* TRAIL ALTITUDE PANEL */
/******************************************/
.trailaltitude_panel {
  width: 960px;
  height: 380px;
}

.trailaltitude_panel .profile {
  position: absolute;
}

.trailaltitude_panel .profile .marker {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;  
  width: 23px;
  height: 24px;
  background: url(../icons/marker_profile_inactive.png) no-repeat top left;
}

/* TRAIL STATS PANEL */
/******************************************/
.trailstats_panel {
  margin-left: 32px;
  width: 300px;
  height: 380px;
}

.trailstats_panel .content {  
  margin: 50px 36px 0px 36px;
  line-height: 1em;
  color: #44B6F7;
}

.trailstats_panel .content h1 {
  margin: 0px;
  padding: 0px;
  font-size: 56px;
  line-height: 1em;
  font-weight: 400;
}

.trailstats_panel .content h2 {
  margin: 0px;
  padding: 0px 0px 0px 2px;
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 300;
}

.trailstats_panel .icon {
  margin-bottom: 4px;
  width: 53px;
  height: 53px;
}

.trailstats_panel .sunny {
  background: url(../icons/weather/sunny.png) no-repeat top left;
}

.trailstats_panel .content .terrain {
  margin-top: 13px;
}

.trailstats_panel .content .length {
  margin-top: 13px;
}

/* OTHER TRAILS PANEL */
/******************************************/
.othertrails_panel {
  margin: 32px 0px 0px 0px;
  width: 630px;
  height: 380px;
}

.othertrails_panel .content .title {
  margin-left: 22px;
  height: 88px;
  font-size: 48px;
  font-weight: 400;
  line-height: 88px;
  color: #44B6F7;
}

.othertrails_panel .content .trails {
  position: relative;
  height: 250px;
}

.othertrails_panel .content .trails .image_container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.othertrails_panel .content .trail_title {
  position: absolute;
  top: 30px;
  left: 26px;
  color: #FFFFFF;
}

.othertrails_panel .content .trail_title h1 {
  display: block;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 30px;
  line-height: 1em;
  font-weight: 400;
  border: none;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.othertrails_panel .content .trail_title h2 {
  display: inline-block;
  margin: 4px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  font-size: 30px;
  line-height: 1em;
  font-weight: 400;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);
}

.othertrails_panel .content .trail_title strong {
  font-weight: 700;  
}

/* TRAIL GEAR PANEL */
/******************************************/
.trailgear_panel {
  margin: 32px 0px 0px 32px;
  width: 630px;
  height: 380px;
}

.trailgear_panel .content .title {
  margin-left: 22px;
  height: 88px;
  font-size: 48px;
  font-weight: 400;
  line-height: 88px;
  color: #44B6F7;
}

.trailgear_panel .content .gear_list {
  width: 100%;
  height: 292px;
  overflow: hidden;
}

.trailgear_panel .content .gear_list .gear {
  float: left;
  margin: 0px 5px 0px 5px;
  width: 200px;
  color: #44B6F7;
  text-align: center;
}

.trailgear_panel .content .gear_list .gear h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 300;
}

.trailgear_panel .content .gear_list .gear h2 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 700;
}

/* PROMOTE PANEL */
/******************************************/
.promote_panel {
  margin: 32px 0px 0px 32px;
  width: 299px;
  height: 380px;
}

.promote_panel .content .title {
  margin-left: 22px;
  height: 88px;
  font-size: 48px;
  font-weight: 400;
  line-height: 88px;
  color: #44B6F7;
}

.promote_panel .content .photo {
  position: relative;
}

.promote_panel .content .photo .image_container {
  width: 380px;
  height: 250px;
  overflow: hidden;
}

.promote_panel .content .photo .promote_title {
  position: absolute;
  bottom: 18px;
  left: 12px;
  color: #FFFFFF;
}

.promote_panel .content .photo .promote_title h1 {
  display: block;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1em;  
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

.promote_panel .content .photo .promote_title h2 {
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 5px 10px 5px 10px;  
  font-weight: 400;
  font-size: 30px;
  line-height: 1em;
  background-color: #000;  
  background: rgba(0, 0, 0, 0.6);  
}

/* RESPONSIVE */
/******************************************/

/* Large desktop */
@media (min-width: 1200px) {
/*  
  .trailaltitude_panel {
    width: 850px;
  }
*/    
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
/*  
  .trailaltitude_panel {
    width: 710px;
  }
*/    
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
/*  
  .trailaltitude_panel {
    width: 610px;
  }
*/    
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
/*  
  .trailaltitude_panel {
    width: 450px;
  }
*/    
}

.image {
  display: none;  
}

img {
  max-width: none;
}

